https://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.krhttps://direct.hi.co.kr

/* Layout */

.skip_navi{position:relative;z-index:9999;}

.skip_navi a{display:inline-block;width:200px;position:absolute;left:0px;top:-30px;background:silver}

.skip_navi a:focus{top:0;}

#wrap{height:100%;}

#header{border-top:solid 2px #f68b1f;background:url('https://devdirect.hi.co.kr/images/common/bg_header1.gif') repeat-x left bottom;padding-bottom:4px;position:relative;}

.main #header{background:none}

#header .header_inn{height:94px;}

.header_utile{text-align:right;padding-top:10px;height:20px}

.header_utile .user_sign{display: inline-block}

.header_utile .user_sign span{background:url('https://devdirect.hi.co.kr/images/common/icon_usersign1.gif') no-repeat left center;padding-left:19px;}

.header_utile .user_sign strong{color:#d04a00;}

.header_utile .user_sign a{display:inline-block}

.header_utile ul{display:inline-block;margin-top:1px}

.header_utile li{display:inline-block;background:url('https://devdirect.hi.co.kr/images/common/bg_bar01.gif') no-repeat 2px center; padding-left:11px}

.header_utile li{.display:inline;}

.header_utile li:first-child{background:none}

.header_utile li.all_menu a{display:inline-block;background:url('https://devdirect.hi.co.kr/images/common/icon_all_menu.gif') no-repeat left center;padding-left:17px;margin-left:3px}

.header_utile li.all_menu{padding-left:12px}

/* 인증서복사 20170904 추가 */
.header_utile li.certCopy{padding-left:8px;padding-right:3px;}
.header_utile li.certCopy a{padding-left:26px;padding-right:3px;background:url('https://devdirect.hi.co.kr/images/common/icon_certificate_copy.gif') no-repeat 0 0;color:#ec6806}
/* 인증서복사 20170904 추가 */

.gnb_area:after{content:'';display:block;clear:both}

.gnb_area{margin-top:9px}

.gnb_area h1{float:left;padding-top:10px;}

.gnb_area .gnb{float:left;font-family:NanumBarunGothic;font-size:16px;font-weight:bold;margin-top:11px;/* letter-spacing:-1px; */}

.gnb_area .gnb li{float:left;height:47px;}

.gnb_area .gnb li:first-child{padding-left:15px}

.gnb_area .gnb a{float:left;font-family:NanumBarunGothic;font-size:16px;color:#444;}

.gnb_area .gnb li > a{display:block;padding:0 0 24px 0;width:94px;text-align:center;}

.gnb_area .gnb li > a:hover{border-bottom:solid 3px #e67400;color:#e67400}

.gnb_area .gnb li > a:focus{border-bottom:solid 3px #e67400;color:#e67400}

.gnb_area .gnb li.on > a{border-bottom:solid 3px #e67400;color:#e67400}

.gnb_area .btn_mt, .btn_mt{float:right;margin-top:6px;display:inline-block;position:relative;}

.gnb_area:after{content:'';display:block;clear:both}

.gnb_area .wrap_gnb_depth2{display:none;position:absolute;width:100%;background:url('https://devdirect.hi.co.kr/images/common/bg_header1.gif') repeat-x left top #fff;border-bottom:solid 2px #dedede;left:0;top:92px;padding:26px 0 0px 0;z-index:110}

.gnb_area .wrap_gnb_depth2.active{display:block;}

.gnb_depth2_inn{width:980px;margin:0 auto;overflow:hidden}

.gnb_area .wrap_gnb_depth2 .wrap_gnb_gomenu{float:left;width:180px;}

.gnb_area .wrap_gnb_depth2 .wrap_gnb_gomenu strong{display:block;overflow:hidden}

.gnb_area .wrap_gnb_depth2 .wrap_gnb_gomenu .btn_depth2{display:block;margin-top:15px;overflow:hidden}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont{float:left;font-size:12px;font-family:"�룍���",Dotum,AppleGothic;font-weight:normal;min-height:142px;background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para1.gif') repeat-y left top;width:799px}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont > div{overflow:hidden;margin-top:26px}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont > div:first-child{margin-top:0}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont > dl + div{margin-top:0}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl{margin-left:21px;float:left}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl dt{font-weight:bold;padding-top:1px}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl dt a{font-size:14px;padding-top:1px;line-height:1em}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl dd{padding-right:16px;}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl dt + dd{margin-top:6px}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl dd a{background:url('https://devdirect.hi.co.kr/images/common/bul_sub2.gif') no-repeat left center;padding:3px 0 3px 7px;display:block}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont a{font-size:12px;font-family:"�룍���",Dotum,AppleGothic;float:none}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont a:hover{color:#ec8700;}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont a.on{color:#ec8700;}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl dd a:hover{background:#e67400;padding-left:7px;color:#fff}

.gnb_area .wrap_gnb_depth2 .gnb_depth2_cont dl dd a.on{}

.gnb_area .gnb li.on .wrap_gnb_depth2 .gnb_depth2_cont a{padding-left:0px;border:0;}

.gnb_area .gnb li.on .wrap_gnb_depth2 .gnb_depth2_cont dd a{padding-left:7px;}



.mt_btn_area1{position:absolute;left:0;top:0px;display:none}

.mt_btn_area1 a{display:inline-block;float:left}

.gnb_para3{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para3.gif') repeat-y left top !important;margin-bottom:30px}

.gnb_para3 dl{width:241px}

.gnb_para4{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para4.gif') repeat-y left top !important;}

.gnb_para4 dl{width:176px}

.gnb_mt{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para1.gif') repeat-y left top;margin-bottom:20px}

.gnb_mt_cont{clear:both;text-align:right;padding-top:13px;}

.gnb_gc{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para1.gif') repeat-y left top;margin-bottom:20px}

.gnb_custom{overflow:hidden;margin-bottom:30px}

.gnb_custom > div{float:left;}

.gnb_custom  div.gnb_custom_vi{float:right;margin-top:24px}

.gnb_brand p{text-align:right;margin-top:18px}

.gnb_brand dl{width:176px}

.gnb_gc_cont{clear:both;text-align:right;}

.gnb_event_cont{clear:both;text-align:right;padding-top:13px}

.gnb_para5 dl{width:135px}



/* 2李� �쟻�슜 GNB �떆�옉 */



.gnb_area.new:after{content:'';display:block;clear:both}

.gnb_area.new{margin-top:9px}

.gnb_area.new h1{float:left;padding-top:5px;}

.gnb_area.new .gnb{float:left;font-family:NanumBarunGothic;font-size:16px;font-weight:bold;margin-top:11px;letter-spacing:-1px;margin-left:57px;}

.gnb_area.new .gnb li{float:left;height:47px;/*width:120px*/margin-left:37px;}

.gnb_area.new .gnb li:first-child{padding-left:15px;margin-left:0;}

.gnb_area.new .gnb a{float:left;font-family:NanumBarunGothic;font-size:16px;color:#444;width:auto;}

.gnb_area.new .gnb li > a{display:block;padding:0 0 24px 0;/*width:94px;text-align:center;*/text-align:left;}

.gnb_area.new .gnb li > a:hover{border-bottom:solid 3px #e67400;color:#e67400}

.gnb_area.new .gnb li > a:focus{border-bottom:solid 3px #e67400;color:#e67400}

.gnb_area.new .gnb li.on > a{border-bottom:solid 3px #e67400;color:#e67400}

.gnb_area.new .btn_mt{float:right;margin-top:6px;display:inline-block;position:relative;}

/* �닔�젙1704 */

.gnb_area.new .btn_mt .cboth{width:196px}

.gnb_area.new .btn_mt .cboth:after{content:'';display:block;clear:both}

.gnb_area.new .btn_mt .cboth a{float:left;display:block}

.gnb_area.new:after{content:'';display:block;clear:both}



.gnb_area.new .wrap_gnb_depth2{display:none;position:absolute;width:100%;background:url('https://devdirect.hi.co.kr/images/common/bg_header1.gif') repeat-x left top #fff;border-bottom:solid 2px #dedede;left:0;top:92px;padding:26px 0 0px 0;z-index:110}

.gnb_area.new .wrap_gnb_depth2.active{display:block;}

.gnb_depth2_inn{width:980px;margin:0 auto;overflow:hidden}

.gnb_area.new .wrap_gnb_depth2 .wrap_gnb_gomenu{float:left;width:227px;}

.gnb_area.new .wrap_gnb_depth2 .wrap_gnb_gomenu strong{display:block;overflow:hidden}

.gnb_area.new .wrap_gnb_depth2 .wrap_gnb_gomenu .btn_depth2{display:block;margin-top:15px;overflow:hidden}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont{float:left;font-size:12px;font-family:"�룍���",Dotum,AppleGothic;font-weight:normal;min-height:142px;background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para1.gif') repeat-y left top;width:751px;}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont > div{overflow:hidden;margin-top:24px}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont > div:first-child{margin-top:0}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont > dl + div{margin-top:0}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl{margin-left:21px;float:left}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl dt{font-weight:bold;padding-top:1px}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl dt a{font-size:14px;padding-top:1px;line-height:1.3em}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl dd{padding-right:16px;}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl dt + dd{margin-top:6px}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl dd a{background:url('https://devdirect.hi.co.kr/images/common/bul_sub2.gif') no-repeat left center;padding:3px 0 3px 7px;display:block}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont a{font-size:12px;font-family:"�룍���",Dotum,AppleGothic;float:none}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont a:hover{color:#ec8700;}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont a.on{color:#ec8700;}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl dd a:hover{background:#e67400;padding-left:7px;color:#fff}

.gnb_area.new .wrap_gnb_depth2 .gnb_depth2_cont dl dd a.on{}

.gnb_area.new .gnb li.on .wrap_gnb_depth2 .gnb_depth2_cont a{padding-left:0px;border:0;}

.gnb_area.new .gnb li.on .wrap_gnb_depth2 .gnb_depth2_cont dd a{padding-left:7px;}



.gnb_area.new .gnb_mt{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_mt1.png') no-repeat right bottom;margin-bottom:0px}

.gnb_area.new .gnb_mt2{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_mt2.png') no-repeat right bottom;margin-bottom:0px}

.gnb_area.new .gnb_evnt{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_evnt.png') no-repeat right bottom;margin-bottom:0px}



.gnb_area.new .gnb_para2{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para2_1.gif') repeat-y left top !important;margin-bottom:30px}

.gnb_area.new .gnb_para2 dl{width:229px}

.gnb_area.new .gnb_para3{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para3_1.gif') repeat-y left top !important;margin-bottom:30px}

.gnb_area.new .gnb_para3 dl{width:229px}

.gnb_area.new .gnb_para4{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para4.gif') repeat-y left top !important;}

.gnb_area.new .gnb_para4 dl{width:176px}

.gnb_area.new .gnb_mt_cont{clear:both;text-align:right;padding-top:13px;}

.gnb_area.new .gnb_gc{background:url('https://devdirect.hi.co.kr/images/common/bg_gnb_para1.gif') repeat-y left top;margin-bottom:20px}

.gnb_area.new .gnb_custom{overflow:hidden;margin-bottom:30px}

.gnb_area.new .gnb_custom > div{float:left;}

.gnb_area.new .gnb_custom  div.gnb_custom_vi{float:right;margin-top:24px}

.gnb_area.new .gnb_brand p{text-align:right;margin-top:18px}

.gnb_area.new .gnb_brand dl{width:176px}

.gnb_area.new .gnb_gc_cont{clear:both;text-align:right;}

.gnb_area.new .gnb_event_cont{clear:both;text-align:right;padding-top:13px}

.gnb_area.new .gnb_para5 dl{width:135px}



.gnb_area.new .gnb_custom{}

.gnb_area.new .gnb_custom .custom_para{margin-left:20px;float:left;margin-top:22px}

.gnb_area.new .gnb_custom dl.gnb_my1{border:solid 1px #c1c1c1;border-radius:3px;padding:18px;float:right;margin-top:0px}

.gnb_area.new .gnb_custom dl.gnb_my1 dt:after{content:'';display:block;clear:both}

.gnb_area.new .gnb_custom dl.gnb_my1 dt{text-align:center;margin-bottom:15px}

.gnb_area.new .gnb_custom dl.gnb_my1 dd{float:left;margin:0 !important;padding:0 !important}

.gnb_area.new .gnb_custom dl.gnb_my1 dd.web{border-right:solid 1px #c1c1c1;padding-right:15px !important;margin-right:18px !important}



/* 怨꾩빟愿�由� 硫붾돱 */

.guide_call {float:right;}

.guide_call dl.call {border:solid 1px #c1c1c1;border-radius:3px;padding:10px 0;width: 190px !important;text-align:center;}

.guide_call dl.call dt, .guide_call dl.call dd{padding:0 !important;}

.guide_call dl.call dt {margin-bottom:13px;}

.guide_call dl.call dd {margin-top:13px;}



/* 2李� �쟻�슜 GNB �걹 */



.fullSize {position:relative;font-family:NanumGothic;font-size:13px;}



.fullSize #header {border-top:0;}

.fullSize #header .headTop {width:980px;height:50px;margin:0 auto;}

.fullSize #header .headTop h1 {padding-top:15px;}

.fullSize #header.mtHead .headTop h1 {padding-top:10px;}



.fullSize #header .headTop_mj {width:980px;height:50px;margin:0 auto;} /* �뿤�뜑�뿉 �궛異� �씠踰ㅽ듃 諛곕꼫 �쟻�슜 160427 蹂댄뿕猷� �궛異� �씠踰ㅽ듃 �씠���吏� 異붽��*/

.fullSize #header .headTop_mj h1 {padding-top:15px;} 

.fullSize #header .headTop_mj .top_banner_eventmj { margin-left:280px;}

.fullSize #header.mtHead .headTop_mj h1 {padding-top:10px; float:left;}

.fullSize #header .headTop_mj h1:after{content:'';display:block;clear:both}

.fullSize #header.H77 .headTop_mj {height:77px;}

.fullSize #header.H77 .headTop_mj h1 {padding-top:20px;}



/*2李� �삤�뵂�븣 諛섏쁺�븿!!!*/

.fullSize #header.H77 {border-top:solid 2px #f68b1f;}

.fullSize #header.H77 .headTop {height:77px;}

.fullSize #header.H77 .headTop h1 {padding-top:20px;}

.fullSize #header.H77 ~ #footer2 .closeBtn {top:23px;}



.fullSize #header .headStep {background:#f4f4f4;border:1px solid #dadada;border-width:1px 0;}

.fullSize #header .headStep .stepInner {overflow:hidden;width:980px;height:40px;margin:0 auto;}

.fullSize #header .headStep .stepInner li {position:relative;float:left;width:163px;height:40px;padding-left:48px;color:#333;font-size:15px;font-weight:bold;line-height:40px;background:url('https://devdirect.hi.co.kr/images/MT/gnbStep_base.gif') no-repeat 0 50%;letter-spacing:-1px;}

.fullSize #header .headStep .stepInner li:first-child {width:153px;padding-left:30px;background-image:none;}

.fullSize #header .headStep .stepInner li:first-child.on {background-image:none;}

.fullSize #header .headStep .stepInner li:first-child + li  + li  + li + li {width:116px;}

.fullSize #header .headStep .stepInner li.on {background:#e67400 url('https://devdirect.hi.co.kr/images/MT/gnbStep_on.gif') no-repeat 0 50%;color:#fff;}

.fullSize #header .headStep .stepInner li.on + li {background:url('https://devdirect.hi.co.kr/images/MT/gnbStep_on2.gif') no-repeat 0 0;}

.fullSize #header .headStep .stepInner li a {position:absolute;top:9px;right:10px;display:inline-block;width:36px;height:20px;border:1px solid #d6d6d6;border-radius:3px;background:#fff;color:#666;font-size:12px;font-weight:bold;line-height:19px;text-align:center;}

/* �옣湲곗슫蹂� �뒪�뀦(�떒�뼱媛� 湲몄뼱 媛꾧꺽 議곗젙)

.fullSize #header .headStep.longDv .stepInner li {width:176px;padding-left:35px;}

.fullSize #header .headStep.longDv .stepInner li:first-child {width:158px;padding-left:25px;}

 */

.fullSize #footer a.closeBtn {position:absolute;top:13px;left:50%;margin-left:427px;}

.fullSize #footer {width:100%;min-height:26px;margin-top:20px;padding:10px 0 10px;background-color:#f0f0f0;border-top:1px solid #ddd;}

.fullSize #footer .footer_inn {overflow:hidden;padding:0;}

.fullSize #footer .footer_inn .requestTxt {float:left;margin-top:6px;font-weight:bold;font-size:12px;color:#666666;}

.fullSize #footer .footer_inn .requestTxt em {color:#727272;font-weight:normal;}

.fullSize #footer .footer_inn .requestTxt strong {vertical-align:bottom;color:#00346e;font-size:16px;}

.fullSize #footer .footer_inn .requestCall {float:right;}

.fullSize #contents {float:none;width:980px;min-height:737px;margin:20px auto 0;}

.fullSize #contents .container:after {clear:both;content: "";display: block;}



/* 蹂댄뿕猷� 怨꾩궛 �뭼�꽣 �닔�젙 */

.fullSize #footer2{clear:both;min-height:150px;margin-top:30px;border-top:solid 1px #dddddd}

.fullSize #footer2 .footer_inn{width:980px; margin:0 auto;}

.fullSize #footer2 .footer_inn{padding:20px 0;color:#878787;font-size:11px}

.fullSize #footer2 a.closeBtn {position:absolute;top:13px;left:50%;margin-left:427px;}

.fullSize #footer2 {width:100%;min-height:26px;margin-top:20px;padding:10px 0 10px;background-color:#f0f0f0;border-top:1px solid #ddd;}

.fullSize #footer2 .footer_inn {overflow:hidden;padding:2px 0;}

.fullSize #footer2 .footer_inn .requestTxt {float:left;margin-top:6px;font-weight:bold;font-size:12px;color:#666666;}

.fullSize #footer2 .footer_inn .requestTxt em {color:#727272;font-weight:normal;}

.fullSize #footer2 .footer_inn .requestTxt strong {vertical-align:bottom;color:#00346e;font-size:16px;margin-right:10px;}

.fullSize #footer2 .footer_inn .requestTxt span {display:block;margin-top:3px}

.fullSize #footer2 .footer_inn .footBtn {float:right;}





/* �쟾泥대찓�돱 */

.wrap_allMenu{border:solid 3px #003170;width:978px; background-color:#fff;opacity:1;position:absolute;left:50%;top:35px;margin-left:-489px;z-index:999999;font-family:NanumBarunGothic;display:none}

.wrap_allMenu .allMenuClose{position:absolute;right:11px;top:11px}

.wrap_allMenu .allMenu_title{background-color:#003170;overflow:hidden;color:#fff;padding:14px 19px 0 20px;height:35px}

.wrap_allMenu .allMenu_title h2{float:left;font-size:20px;font-weight:normal}

.wrap_allMenu .allMenu_title span{float:right}

.wrap_allMenu h3{font-size:18px;color:#003170;line-height:1em;font-weight:normal;border-bottom:solid 1px #dedede;padding-bottom:10px;margin-bottom:10px}

.wrap_allMenu h3 a{color:#003170}

.wrap_allMenu .allMenu_cont{padding:30px 23px 10px 30px;height:550px;overflow-y:scroll}

.wrap_allMenu .allMenu_cont a:hover{color:#ec8700;text-decoration:underline}

.wrap_allMenu .allMenu_cont .wrap_allmenu_tit{overflow:hidden}

.wrap_allMenu .allMenu_cont .wrap_allmenu_tit h3{float:left;width:50%;border:0;padding-top:1px}

.wrap_allMenu .allMenu_cont .wrap_allmenu_tit > div{float:left;width:537px;}

.wrap_allMenu .allMenu_cont .wrap_allmenu_tit > div + div {width:359px;}

.wrap_allMenu .allMenu_cont .wrap_allmenu_tit > div h3{float:none;margin-bottom:0}

.wrap_allMenu .allMenu_cont .wrap_allmenu_tit .allMenu_cont_dep2 dl {padding-top:10px;border-top:1px solid #dedede;}

.wrap_allMenu .allMenu_cont .wrap_allmenu_tit.all_tit_3 h3{width:33.3%}

.wrap_allMenu .allMenu_cont .allMenu_cont_dep2{overflow:hidden;margin-bottom:15px}

.wrap_allMenu .allMenu_cont .allMenu_cont_dep2 dl{float:left;font-family:"�룍���",Dotum,AppleGothic;/*width:168px;padding-right:10px;*/width:170px;padding-right:9px;/*margin-bottom:20px;*/min-height:90px;}

/*.wrap_allMenu .allMenu_cont .h50 dl {min-height:55px;}*/

.wrap_allMenu .allMenu_cont .allMenu_cont_dep2 dl dt{font-weight:bold;color:#333;letter-spacing:-1px;margin-bottom:8px}

.wrap_allMenu .allMenu_cont .allMenu_cont_dep2 dl dd{background:url('https://devdirect.hi.co.kr/images/common/bul_sub2.gif') no-repeat left center;padding-left:7px;margin-bottom:4px;}

.wrap_allMenu .allMenu_cont .allMenu_cont_dep2.all_cont_5 dl{width:20%}

#container{width:1000px; margin:0 auto;overflow:hidden}

#contaniner:after{content:'';display:block;clear:both}

#sub_navi{float:left;min-height:200px;width:170px;margin-right:40px}

#sub_navi h2{font-family:NanumBarunGothic; font-size:22px;;color:#333;padding-top:1px;line-height:1.2em;}

#sub_navi ul {color:#444;border-top:solid 2px #e67400;margin-top:12px}

#sub_navi ul li{border-bottom:solid 1px #d5d5d5;padding:12px 0 0 0 }

#sub_navi ul li a{display:block;padding:0 20px 10px 10px;background:url('https://devdirect.hi.co.kr/images/common/bul_sub1.gif') no-repeat 152px 6px;}

#sub_navi ul li a.bgNone {background:none;}

#sub_navi ul li.on{font-weight:bold;color:#D04A00}

#sub_navi ul li li.on{color:#d04a00}

#sub_navi ul li.on a{background:url('https://devdirect.hi.co.kr/images/common/bul_sub1_on.gif') no-repeat 152px 6px;}

#sub_navi ul li.noneDep a{background-image:none}

#sub_navi ul li.on ul{font-weight:normal}

#sub_navi ul li ul{color:#666;border:0px;border-top:solid 1px #d5d5d5;margin-top:0px;padding-top:8px;padding-bottom:12px;background-color:#f7f7f7;display:none;}

#sub_navi ul li ul.on{display:block}

#sub_navi ul li ul li{padding:3px 10px;border-bottom:0;}

#sub_navi ul li ul li a{background:url('https://devdirect.hi.co.kr/images/common/bul_sub2.gif') no-repeat left 6px;padding:0 0px 0px 7px;}

#sub_navi ul li.on ul li a{background:url('https://devdirect.hi.co.kr/images/common/bul_sub2.gif') no-repeat left 7px;padding-left:7px}

#sub_navi ul li ul li a:hover{background:url('https://devdirect.hi.co.kr/images/common/bul_sub2_on.gif') no-repeat left 7px;text-decoration:underline;color:#d04a00}

#sub_navi ul li ul li.on{text-decoration:underline;font-weight:normal}

#sub_navi ul li ul li.on a{background:url('https://devdirect.hi.co.kr/images/common/bul_sub2_on.gif') no-repeat left center;}



#sub_navi .subnavi_cs{border:solid 1px #e6e6e6;background-color:#f7f7f7;padding:13px 0 15px 12px;}

#sub_navi .subnavi_cs ul,#sub_navi .subnavi_cs li{border:0px;margin:0;padding:0}

#sub_navi .subnavi_cs h3{margin-bottom:7px}

#sub_navi .subnavi_cs dl,#sub_navi .subnavi_cs dl ul{color:#666}

#sub_navi .subnavi_cs dl dt{font-weight:bold;margin-top:10px;letter-spacing:-1px}

#sub_navi .subnavi_cs dl dd{margin-top:2px}

#sub_navi .subnavi_cs dl dd li{padding-left:7px;background:url('https://devdirect.hi.co.kr/images/common/bul_dot7.gif') no-repeat left 6px;}

.subnavi_cs{margin-top:20px}

.subnavi_banner + .subnavi_cs{margin-top:10px}



#sub_navi .subnavi_banner{margin-top:20px}

#sub_navi .subnavi_banner ul{border-top:0;font-family:NanumBarunGothic;margin-bottom:10px}

#sub_navi .subnavi_banner ul li {border:solid 1px #dbdbdb;border-radius:2px;background-color:#f2f5fa;padding:0 10px;margin-bottom:5px}

#sub_navi .subnavi_banner ul li a{background-image:none;color:#003170;display:block;background:url('https://devdirect.hi.co.kr/images/common/bul_arrow2.gif') no-repeat right center;padding:10px 0;letter-spacing:-0.5px}

#contents{float:left;min-height:300px;width:770px;line-height:1.65em}

#footer{clear:both;min-height:150px;margin-top:30px;border-top:solid 1px #dddddd}

#header .header_inn,

#container,

#footer .footer_inn{width:1080px; margin:0 auto;} /* �닔�젙1704 */

#footer .footer_inn{padding:20px 0;color:#666;font-size:11px}

.footer_gomenu:after{content:'';display:block;clear:both}

.footer_gomenu{overflow:hidden}

.footer_gomenu span{float:left;}

.footer_gomenu .goMenu{float:left;margin-top:5px;}

.footer_gomenu .goMenu li{background:url('https://devdirect.hi.co.kr/images/common/bg_bar01.gif') no-repeat left center; padding:0 7px 0 8px;letter-spacing:-1px;font-size:12px}

.footer_gomenu .goMenu li:first-child{background:none}

.footer_gomenu .goMenu li.em{color:#555555}

.footer_gomenu .siteP{float:right}

.footer_gomenu ul{overflow:hidden}

.footer_gomenu ul li{float:left;font-size:11px}

.footer_gomenu .info_mobile{float:right}



.footer_address{margin-top:18px;overflow:hidden}

.footer_address p{line-height:1.6em;margin-bottom:2px}

.footer_address p span{padding:0 5px;color:#d5d5d4}

.footer_address_inn{float:left;}

.siteP{float:right}

.siteP li{margin-left:8px;float:left}

.siteP li:first-child{margin-left:0px}





.location{text-align:right;color:#a3a3a3;font-size:11px; padding:12px 0 16px 0}

.location span{color:#686868}

.location em{color:#444}



.tit_dep1{font-family:NanumBarunGothic;font-size:24px;font-weight:normal;padding-top:1px;line-height:1em;margin-bottom:15px;color:#333;}

/* �삤�넗踰⑥텛媛� */

h2.tit_affi {padding:5px 0;font-family:"NanumBarunGothic";font-size:18px;font-weight:bold;color:#003170;}



h3.tit_dep1 + h4.tit_dep2 {margin-top:0;}

h4.tit_dep2, h5.tit_dep2, h6.tit_dep2 {padding:0.4em 0 0.7em;margin-top:30px;border-bottom:1px solid #999;font-weight:normal;font-family:"NanumBarunGothic";color:#003170;font-size:18px;}

h4.tit_dep2.bdNone, h5.tit_dep2.bdNone {margin-bottom:0;}

h4.tit_lp {border-bottom:2px solid #003170;color:#282828;font-family:"NanumBarunGothic";font-size:22px;padding:1px 0 10px;line-height:1em;margin-bottom:20px}

h5.tit_affi {padding:5px 0;font-family:"NanumBarunGothic";font-size:18px;font-weight:normal;color:#003170;}

h5.tit_dep3 {margin:16px 0 8px;vertical-align:bottom;background:url('https://devdirect.hi.co.kr/images/common/bul_sub3.gif') 0 50% no-repeat;padding:0.3em 0 0.1em 0.8em;color:#333;font-size:12px;font-family:"�룍���",Dotum,"援대┝",Gulim,"Apple SD Gothic Neo",AppleGothic,Sans-serif;}

h5.tit_dep3 span.required {margin-left:2px;border:1px solid #cecece;color:#333;font-size:11px;font-weight:normal;font-family:"�룍���",Dotum,"援대┝",Gulim,"Apple SD Gothic Neo",AppleGothic,Sans-serif;padding:0.1em 0.2em 0 0.3em;}

h4.h4Type1{font-family: 'NanumGothic';font-size:13px;color:#003170;margin:18px 0 10px 0}



#main_container{margin-top:-5px}

.wrap_main_vi{background-color:#6e83c2}

.wrap_main_vi .main_vi:after{content:'';display:block;clear:both}

.wrap_main_vi .main_vi{width:980px; margin:0 auto;padding:10px 0 33px 0;background:url('https://devdirect.hi.co.kr/images/common/main_bg_vi.png') no-repeat 471px 179px;}

.wrap_main_vi .main_vi > div {float:left;margin-left:30px;width:470px;padding:43px 0 7px 0}

.wrap_main_vi .main_vi > div p{margin-bottom:35px}

.wrap_main_vi .main_vi > div p.main_vi_info{margin-top:32px;margin-bottom:0px}

.wrap_main_vi .main_vi > ul {float:right;width:197px;}

.wrap_main_vi .main_vi > ul li{margin-top:19px}

.wrap_main_vi .main_vi > ul li:first-child{margin-top:35px;}

.wrap_main_service ul, .wrap_main_notice{width:980px; margin:0 auto}

.wrap_main_service{padding:15px 0; background-color:#f0f0f0}

.wrap_main_service ul:after{content:'';display:block;clear:both}

.wrap_main_service ul li{float:left;padding-left:6px}

.wrap_main_service ul li:first-child{padding-left:0px;padding-right:4px}

.wrap_main_service ul li.border{float:left;background:url('https://devdirect.hi.co.kr/images/common/main_bg_service1.gif') no-repeat left center;}

.wrap_main_notice:after{content:'';display:block;clear:both}

.wrap_main_notice{margin-top:32px}

.wrap_main_notice dl{float:left}

.wrap_main_notice dl dt{margin-bottom:15px}

.wrap_main_notice dl.main_notice{width:350px;position:relative;}

.wrap_main_notice dl.main_notice dd.more{position:absolute;right:0;top:-5px}

.wrap_main_notice dl.main_notice dd ul{}

.wrap_main_notice dl.main_notice dd ul li:after{content:'';display:block;clear:both}

.wrap_main_notice dl.main_notice dd ul li{padding-bottom:6px}

.wrap_main_notice dl.main_notice dd ul li a{float:left;width:265px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background:url('https://devdirect.hi.co.kr/images/common/bul_dot1.gif') no-repeat left center;padding:0 0 0 14px;}

.wrap_main_notice dl.main_notice dd ul li span{float:right;color:#959595}

.wrap_main_notice dl.main_event{margin:0 35px 0 40px; width:310px }

.wrap_main_notice dl.main_event dt{margin-bottom:5px}

.wrap_main_notice dl.main_event dd{position:relative;}

.main_cs_info{position:relative;}

.main_cs_info div{position:absolute;top:0;left:0;border:solid 1px #7190be;background-color:#fff;border-radius:3px;padding:13px 14px}

.main_cs_info div dl{}

.main_cs_info div dl dt{font-family:NanumBarunGothic;font-size:15px;color:#003170;font-weight:bold}

.main_cs_info div dl dd{color:#757575;margin-top:7px}

.main_cs_info div dl dd p{margin-top:2px}

.main_cs_info .main_cs_info_close{position:absolute;top:15px;right:12px}

.main_cs_info .main_cs_info_close.close_ex{top:18px;right:13px}



div.csinof_ex{padding:0;border:0}



/* 硫붿씤踰좊꼫 */

#slides {display: none}

#slides .slidesjs-navigation {margin-top:3px;}

#slides .slidesjs-previous {margin-right: 5px;float: left;}

#slides .slidesjs-next {margin-right: 5px;float: left;}

.slidesjs-pagination {margin: 6px 0 0;position:absolute;right:0px;top:-18px;z-index:100;} /* �씠�슜�븞�궡�슜 */

.main_event .slidesjs-pagination{position:absolute;right:14px;top:-32px;z-index:100;} /* 硫붿씤�슜 /�닔�젙1707 */

.slidesjs-pagination li {float: left; margin: 0 1px 0 2px; }

.slidesjs-pagination li a {display: block; width: 9px; height: 0; padding-top: 9px; background-image: url('https://devdirect.hi.co.kr/images/common/pagination.png'); background-position: 0 0; float: left; overflow: hidden; }

.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {background-image: url('https://devdirect.hi.co.kr/images/common/pagination_on.png'); background-position: 0 0; width: 19px; }

.navbar {overflow: hidden }

.slidesjs-control{padding:2px}



.wrap_main_notice dl.main_customer{border:solid 1px #e7e7e7; background-color:#f7f7f7;border-radius:3px;padding:11px 11px 7px 11px;width:220px;float:right}

.wrap_main_notice dl.main_customer dt{margin-bottom:8px}

.wrap_main_notice dl.main_customer dt:after{content:'';display:block;clear:both}

.wrap_main_notice dl.main_customer dt span{float:left}

.wrap_main_notice dl.main_customer dt .wrap_main_ars{float:right}

.wrap_main_notice dl.main_customer dd p{font-size:11px;color:#8e8d8d;line-height:13px;}

.wrap_main_notice dl.main_customer dd p span{color:#dcdcdc;}

.wrap_main_notice dl.main_customer dd.go_menu:after{content:'';display:block;clear:both}

.wrap_main_notice dl.main_customer dd.go_menu{margin-top:7px;margin-bottom:6px;padding-top:7px}

.wrap_main_notice dl.main_customer dd.go_menu a{float:right}

.wrap_main_notice dl.main_customer dd.go_menu a:first-child{float:left}

.wrap_main_notice dl.main_customer dd.custom_date{font-size:11px;color:#8e8d8d}

.wrap_main_notice dl.main_customer dd.custom_date strong{color:#808080;letter-spacing:-1px;display:block;margin-top:2px}

.wrap_main_ars {}



.wrap_main_top_event{height:100px;}

.wrap_main_top_event .main_top_event:after{content:'';display:block;clear:both}

.wrap_main_top_event .main_top_event{width:1080px; margin:0 auto} /* �닔�젙1705 */

.main_top_event_cont{float:left;margin:0 61px 0 124px}

.main_btn_top_close{float:right;margin-top:37px}

.main_top_event_detail{margin-top:53px;display:inline-block}

.wrap_main_ars{position:relative;margin-top:10px;}

.wrap_main_ars .main_ars{position:absolute;left:0px;top:22px;border:solid 1px #7190be;background-color:#fff;border-radius:0 0 3px 3px;width:194px;display:none;padding:10px 9px 0px;}





/* �씈諛곕꼫 �엫�떆 */

.main_top_event_cont {position:relative;width:850px}

.main_top_event_cont img, .main_top_event_cont ul {}

.main_top_event_cont > ul {position:absolute;top:20px;left:295px; font-family:'NanumBarunGothic';font-weight:bold;}

.main_top_event_cont ul li {color:#333;font-size:16px;}

.main_top_event_cont ul li span {font-size:14px;}

.main_top_event_cont > ul > li > a {text-decoration:underline;color:#003170;}

.main_top_event_cont ul li span.main_event_sp1{color:#003170;font-size:16px}

.main_top_event_cont ul li ul {margin-bottom:2px;}

.main_top_event_cont ul li ul li {color:#555;font-size:13px;}

.main_top_event_cont ul li ul li a {display:inline-block;margin-bottom:3px;margin-left:5px;vertical-align:middle;}

/* �씈諛곕꼫 �엫�떆 */