@charset "utf-8";

/**
* base.reset
* ------------------
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,input,textarea,select,button{margin:0;padding:0;border:0;font:inherit;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{color:#535353;text-decoration:none;cursor:pointer}
button{border:none;background:none;cursor:pointer}
button span {position: relative;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;word-break:break-all}

/* Normalize ***************************************************/
body{font-family:$font_family;
	@include fz14_400();
	word-break:keep-all;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
img{vertical-align:top; transform: translateZ(0); -webkit-backface-visibility: hidden; backface-visibility: hidden;}
input[type=text]::-ms-clear{display:none}
legend, .offscr{position:absolute!important;height:1px!important;width:1px!important;overflow:hidden!important;clip:rect(1px 1px 1px 1px)!important;}
caption {margin:-1px;height:1px!important;width:1px!important;overflow:hidden!important;clip:rect(1px 1px 1px 1px)!important;}
input[type=text]::-ms-clear, input[type=tel]::-ms-clear{display:none}
select,
input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=file]{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;}

a:hover{text-decoration: none;}