@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);

#gWrap{position:relative;}
.guide_cont{padding:85px 20px 65px 20px;}
.guide_cont h2{position:relative; padding-bottom:15px; font-size:20px; color:#000; font-weight:500;}
.guide_cont h2:before{content:''; position:absolute; left:0; bottom:0; display:block; width:100%; height:1px; background:#000;}
.guide_cont h2:not(:first-of-type){margin-top:50px;}