@charset "utf-8";

@import url(./font.css);

* {margin:0; padding:0; box-sizing:border-box;}
header, footer, nav, section, article, aside{display:block;}
html,body{height:100%;vertical-align:baseline;text-size-adjust:100%;}
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,caption,input,textarea,select,table,th,td,button{margin:0;padding:0;font-family:inherit;letter-spacing:inherit;}
body{padding:0;margin:0;background:#fff;color:#666;font-size:14px;font-weight:400;line-height:1;letter-spacing:-0.5px;font-family:'Noto Sans KR', 'roboto', '돋움', Dotum, '굴림', Gulim, Arial, Verdana, sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;color:#111;line-height:1;}
ul,ol{list-style:none}
i,em,address{font-style:normal}
a{color:#333; text-decoration:none;}
button{display:inline-block;cursor:pointer;border:0;background:transparent;}
img{border:0 none; vertical-align:middle;}
caption,legend,.offscr{display:inline-block; position:absolute !important; width:1px !important; height:1px !important; color:transparent !important; overflow:hidden !important;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);margin:-1px 0 0;}
pre{white-space:pre-wrap}
q:before,q:after{content:''}
sub,sup{vertical-align:super}

input[type="radio"], input[type="checkbox"]{opacity:0 ;filter:alpha(opacity=0); display:inline-block; position:absolute; z-index:-1; vertical-align:top; appearance:none; -moz-appearance:none; -webkit-appearance:none; margin:0;}
.lb_radio, .lb_check{position:relative; display:inline-flex; vertical-align:top; align-items:center; min-height:50px; font-size:14px; padding:0; margin:0; cursor:pointer; line-height:1;}
.lb_radio:before, .lb_check:before{content:""; display:block; flex:0; min-width:20px; min-height:20px; margin-right:10px; box-sizing:border-box; border:2px solid #000;}
:checked+.lb_radio:before, :checked+.lb_check:before{border:2px solid #000078;box-shadow:0 1px 4px rgba(0,0,120,.6);}
:checked+.lb_radio:after, :checked+.lb_check:after{content:''; position:absolute; left:7px; top:19px; width:4px; height:8px; border:solid #000078; border-width:0 2px 2px 0; transition:all .5s;-webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.lb_radio span, .lb_check span{display:inline-block; vertical-align:middle; height:100%; font-size:15px; font-weight:500; border-bottom:1px solid transparent;}

input[type=text]::-ms-clear{display:none}
::-webkit-input-placeholder{font-family:'Noto Sans KR', 'roboto';font-weight:300;color:#bbb;opacity:1}
:-moz-placeholder{font-family:'Noto Sans KR', 'roboto';font-weight:300;color:#bbb;opacity:1}
::-moz-placeholder{font-family:'Noto Sans KR', 'roboto';font-weight:300;color:#bbb;opacity:1}
:-ms-input-placeholder{font-family:'Noto Sans KR', 'roboto'!important;font-weight:300!important;color:#bbb!important;opacity:1}
input[type=text]:focus::-webkit-input-placeholder{visibility:hidden}
input[type=text]:focus:-moz-placeholder{visibility:hidden}
input[type=text]:focus::-moz-placeholder{visibility:hidden}
input[type=text]:focus:-ms-input-placeholder{visibility:hidden}
select{width:100%;height:100%;padding:0 34px 0 10px;border-bottom:1px solid #000;vertical-align:middle;background:#fff url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='34px' height='8px' viewBox='0 0 34 8' enable-background='new 0 0 34 8' xml:space='preserve'%3E%3Cpolyline fill='none' stroke='%23222222' stroke-width='2' stroke-miterlimit='10' points='11.125,-0.5 17,6.5 23,-0.5 '/%3E%3C/svg%3E") 100% 50% no-repeat;background-size:34px 8px;font-size:20px;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none}
select::-ms-expand{display:none}


/* skip */
#skipNav{position:absolute;width:100%;margin:0 auto;z-index:1000}
#skipNav a{position:absolute;top:-500px;width:100%;padding:10px 0;background-color:#01407e;color:#fff;text-align:center}
#skipNav a:focus{top:0}

html.lock, html.lock body{overflow:hidden}
html.lock #wrap{position:fixed;left:0;bottom:0;width:100%}
.dimmed{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.6);z-index:101;opacity:0;transition:0.4s}
.dimmed.show{opacity:1}
.ell{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;-moz-binding:url(ellipsis.xml#ellipsis)}
.ell2{display:-webkit-box!important;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
