@charset "utf-8";

.hljs {
	tab-size:4;
}
.code {
	color:$gray900;
	
}

/* mobile first style */
@keyframes menuIn {
    0% {left:0;}
    100% {left:20rem;}
}
@keyframes menuOut {
    0% {left:20rem;}
    100% {left:0;}
}
@keyframes menuIn2 {
    0% {padding-left:0;}
    100% {padding-left:20rem;}
}
@keyframes menuOut2 {
    0% {padding-left:20rem;}
    100% {padding-left:0;}
}
@keyframes navLeftIn {
    0% {left:-20rem;}
    100% {left: 0;}
}
@keyframes navLeftOut {
    0% {left: 0;}
    100% {left:-20rem;}
}

/* layout */
.base-grid{
	pointer-events: none;
}
.base-header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 0;
	/* mix-blend-mode: difference; */
}

.base-body {
	position: relative;
	width: 100%;
	max-width: 108rem;
	margin:0 auto;
}

.base-aside {
	display: none;
}

.base-main {
	position: relative;
	z-index: 0;
	width: 100%;
	padding: 0 1.6rem;
}

.base-footer {
	padding: 12rem 2rem 4rem;
	text-align: center;
}

/* header */
.header-wrap {
	width: 100%;
	padding: 6rem 2rem 3rem;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
	z-index: 2;

	.logo {
		position: fixed;
		display: block;
		width: 2.8rem;
		height: 2.8rem;
		top: 6rem;
		left: 2rem;
		margin-left:2rem;
		/* background:url(../img/common/logo_ui.svg) no-repeat 50% 50% / 2.8rem; */

		svg, img {
			width: 100%;
			height: 100%;
		}

		
	}
}
/* .base-header::after{
	content:"";
	display: block;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.0)); 
	backdrop-filter: blur(.06rem);
	position: absolute;
}
.dark .base-header::after{
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0)); 
} */

.header-nav {
	display: block;
	position: fixed;
	top: 0;
	left: -20rem;
	height: 100vh;
	width: 20rem;
	margin: 0;
	padding: 2rem;
	overflow-y: auto;

	background: #fff;
	
}

.header-nav .dep-1-wrap {
	width: 100%;
	text-align: left;
	padding: 0;
}

.header-nav .dep-1 {
	display: block;
	margin-top: 0;
}

.header-nav .dep-1 .ui-acco-tit {
	border: 0;
	background: transparent;
}

.header-nav .dep-1 .ui-acco-btn {
	padding: 0;
	border: 0;
	margin-bottom: 1.5rem;
}

.header-nav .dep-1 .ui-acco-btn:after {
	display: none;
}

.header-nav .dep-1-btn {
	display: inline-block;
	width: 100%;
	font-weight: 300;
	margin: 0;
	letter-spacing: 0;
	text-decoration: none;
	margin-bottom: 1.5rem;
	line-height: 1.2;
	
	font-size: 1.6rem;
	
	color: #424242;
	
}

.header-nav .dep-2-wrap {
	padding-bottom: 3rem;
}

.header-nav .dep-2-btn {
	display: inline-block;
	width: 100%;
	
	font-weight: 300;
	
	margin: 0;
	letter-spacing: 0;
	text-decoration: none;
	margin-bottom: .5rem;
	text-align: left;
	outline: none;

	font-size: 1.2rem;
	
	color: #616161;
	
}
.header-nav .dep-2 + .dep-2 {
	margin-top:.5rem;
}
.header-nav .modify .dep-2-btn {
	color:$gray900;
	
}

.header-nav .dep-2-btn:hover span,
.header-nav .dep-2-btn:focus span {
	text-decoration: underline;
}

.header-nav .dep-2-btn span {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 2rem)
}
.header-nav .dep-2-btn span em{
	font-size: 1rem;
	font-style: normal;
	color:$success;
	display: block;
	font-weight:600;
}
.header-nav .dep-2-btn:before {
	content: "-";
	display: inline-block;
	margin-right: .5rem;
	width: 1rem;
	line-height: 1.3;
	vertical-align: top;
}

.header-nav .dep-2-btn.selected {
	font-weight: 500;
}

.header-nav .dep-2-btn.selected:before {
	content: "+ ";
}

.header-nav .ui-acco-pnl-wrap,
.header-nav .ui-acco-pnl {
	background: transparent;
	padding: 0
}


/* common */
p {
	line-height:1.4;
}

.tit-wrap {
	margin: 16rem 0 12rem;
	.tit-l {
		position: relative;
	}
	&  > div {
		border-left:2px solid #616161;
		margin-left:1.3rem;
		padding-left:2.4rem;
	}
	p {
		margin: 1.6rem 0 0;
		padding: .8rem;	
		font-size:1.4rem;
	}
}


/* heading */
[class*="h-"] {
	letter-spacing: -0.04rem;
}

.tit-l {
	text-transform:uppercase;
}

// .dsp-m {
// 	font-size: 3.2rem;
// 	font-weight: 200;
// 	line-height: 1.2;
// 	/* margin: 0 0 1.6rem; */
// }

// .tit-s {
// 	font-weight: 700;
// 	line-height: 1.2;
// }

.wrap-article .tit-m{margin:0 0 2rem}
.wrap-article .tit-s{margin:0 0 1rem}
.wrap-article .tit-s{margin:0 0 .5rem}

.mark-size{
	background-color: 
	$primary; color: $white;
	font-size:12px ;
	width:16px; 
	height:16px;
	border-radius: 4px;
	display: inline-block;
	vertical-align:top;
	text-align: center;
	font-weight: 900;
	line-height: 16px;
	
	&[title="medium"] {
		background-color: greenyellow;
	}
	&[title="medium"] {
		background-color: greenyellow;
	}
	&[title="small"] {
		background-color: pink;
	}
}

[class*="typo-body-"] b{
	font-weight:700;
}

/* tbl */
.tbl-base{
	margin-top:0.8rem;
}

.type-bbs1 col:nth-child(1){
	width:6rem;
}
.type-bbs1 col:nth-child(2){
	width:auto;
}
.type-bbs1 td:nth-child(2){
	text-align:left;
}
.type-bbs1 col:nth-child(3){
	width:9rem;
}
.tbl-base.tbody-stripes tbody:nth-child(2n+1) th,
.tbl-base.tbody-stripes tbody:nth-child(2n+1) td{
	background: #F5F5F5;
    
}


/* box code */
.ui-m .box-code {
	max-height:50vh;
	overflow:auto;
}
.box-code {
	width: 100%;
	margin: 1rem 0 0;
	padding: 1rem 3rem 3rem;
	line-height: 0;
	overflow:auto;

	background-color:$gray100;
	
}


.box-code code {
	display: block;
	width:100%;
	line-height: 1.4;

	font-size: 1.4rem;
	
	color:$gray900;
	
}

.box-code .hljs {
	padding:0 2rem 1.6rem;
}



/* page */
.test-unit>div>div {
	display: block;
	background: rgba(0, 0, 0, 0.05);
	color: #222;
	border: 1px dashed #ccc;
}

.test-unit>div {
	display: inline-block;
	margin: 10px 10px 0 0;
	vertical-align: top
}

.tab-test-scroll {
	width: 100%;
}

.test-modal .btn-outlined {
	margin-bottom:.8rem;
	margin-right:.8rem;
}
[data-state="fix"] .tst-obj {
	border-color:lawngreen;
	background-color: rgba(126, 252, 0, 0.226);
}
.tst-obj {
	width: 100%;
	margin: 0 auto;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	opacity: 0.5;
	font-size: 1.6rem;
	color: #424242;
	border: 1px dashed #E0E0E0;
	background: #FAFAFA;
}

.device-desktop .page-floating .ui-floating.ui-fixed-bottom .ui-floating-wrap,
.device-desktop .page-floating .ui-floating.ui-fixed-top .ui-floating-wrap {
	width: calc(100% - 250px);
	left: 230px;
	max-width: 1180px
}

.page-floating .ui-floating {
	margin: 10px 0;
	border: 1px dashed rgb(233, 233, 233)
}

.page-scroll .sample-tab {
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.page-scroll .sample-tab div {
	width: 1400px;
	overflow: hidden
}

.sample-tab button {
	float: left;
	width: 200px;
	height: 30px;
	border: 1px solid #555;
	color: #fff
}

.page-typography .box-base h1,
.page-typography .box-base h2,
.page-typography .box-base h3,
.page-typography .box-base h4,
.page-typography .box-base h5,
.page-typography .box-base h6,
.page-typography .box-base p {
	background: #f2f465;
}

.guide-line {
	display: block;
	width: 100%;
	height: 0;
	border-top: 1px dashed #acacac
}

.list-define.font dd {
	font-size: 2.2rem;
	
	word-break: break-all
}
.list-define > div + div{
	margin-top:3rem;
}

.page-grid .coln12,
.page-grid .coln8,
.page-grid .coln4 {
	display: none
}

.col-12 .page-grid .coln12,
.col-8 .page-grid .coln8,
.col-4 .page-grid .coln4 {
	display: inline
}

.grid-col b {
	display: none;
	padding: 10px;
	border: 1px solid #999
}

.col-12 .grid-col b:first-child,
.col-8 .grid-col b:nth-child(2),
.col-4 .grid-col b:last-child {
	display: block
}

.type-discription col.n1 {
	width: 150px
}

.type-discription col.n2 {
	width: auto
}

/* .type-option .nec,
.type-option .nec th,
.type-option .nec td {
	color: #000;
	font-weight: 400
} */

.type-option .bou th,
.type-option .bou td {
	border-bottom: 1px solid #000
}

.type-option .un,
.type-option .un th,
.type-option .un td {
	opacity: 0.7
}

.type-option col.n1 {
	width: auto;
}

.type-option col.n2 {
	width: auto;
}

.type-option col.n3 {
	width: auto;
}

.type-option col.n4 {
	width: auto;
}

.type-option col.n5 {
	width: auto;
}

.markup-modal .ui-modal {
	display: block;
	position: relative;
	opacity: 1;
	width: 400px;
	margin: 30px 0
}

.test-w-300 {
	width: 300px
}

fieldset {
	margin: 0
}

.ui-slide-wrap,
.ui-slide-itemwrap,
.ui-slide-item {
	width: 100%;
	height: 300px;
}

.ui-slide-item.n1 {
	background: #fac2c2
}

.ui-slide-item.n2 {
	background: #dcc2fa
}

.ui-slide-item.n3 {
	background: #c2f5fa
}

.ui-slide-item.n4 {
	background: #dafac2
}

.ui-slide-item.n5 {
	background: #fac2c2
}

.ui-slide-item.n6 {
	background: #dcc2fa
}

.ui-slide-item.n7 {
	background: #c2f5fa
}

.ui-slide-item.n8 {
	background: #dafac2
}

.ui-slide-multi .ui-slide-item.n1 {
	width: 200px
}

.ui-slide-multi .ui-slide-item.n2 {
	width: 100px
}

.ui-slide-multi .ui-slide-item.n3 {
	width: 300px
}

.ui-slide-multi .ui-slide-item.n4 {
	width: 80px
}

.ui-slide-multi .ui-slide-item.n5 {
	width: 150px
}

.ui-slide-multi .ui-slide-item.n6 {
	width: 200px
}

.ui-slide-multi .ui-slide-item.n7 {
	width: 300px
}

.ui-slide-multi .ui-slide-item.n8 {
	width: 200px
}

/* .tip-test0 {
	width: 250px;
} */

/* .tip-test1 {
	width: 100px;
} */

.form-email-id {
	width: 200px;
}

.form-email-adr {
	width: 200px;
}

.form-tel .form-tel-n1 {
	width: 120px;
}

.form-tel .form-tel-n2 {
	width: 120px;
}

.form-tel .form-tel-n3 {
	width: 150px;
}

.list-memory .ui-bricklist-item {
	border: 1px solid #e1e1e1;
	padding: 20px;
	text-align: left;
	width: 285px;
	word-break: break-all;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1)
}

.list-memory .ui-bricklist-item strong {
	display: inline-block;
	font-weight: 500;
}

.list-memory .ui-bricklist-item strong+p {
	margin-top: 10px;
	color: #888
}

.list-memory-tag {
	margin-top: 10px;
}

.list-memory-tag em {
	display: inline-block;
	padding: .2rem .5rem;
	background: #f2f2f2;
	color: cornflowerblue;
	font-size: 1.2rem;
	
	margin: .3rem .3rem 0 0;
}

.parallax-test:first-child .parallax-cont {
	margin-top: 0;
}

.parallax-test .parallax-cont {
	padding: 0;
	margin: 1rem auto 0;
	width: 100%;
	top: 0;

	background: #FAFAFA;
	
}

.parallax-test b {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 900;
	font-size: 50vw;
	opacity: 0.3;
}

.ui-scrollbar.test1 {
	margin: 1rem 1rem 0 0;
	vertical-align: top;
	display: inline-block;
	height: 30rem;
	width: 50%;
	border: 1px dashed #E0E0E0;
	
}

.ui-scrollbar.test2 {
	margin: 1rem 1rem 0 0;
	vertical-align: top;
	display: inline-block;
	height: 30rem;
	width: 21.7rem;
	border: 1px dashed #E0E0E0;
	
}

.ui-scrollbar.test3 {
	margin: 1rem 1rem 0 0;
	vertical-align: top;
	display: inline-block;
	height: 30rem;
	width: 15rem;
	border: 1px dashed #E0E0E0;
	
}

.ui-scrollbar.test4 {
	margin: 1rem 1rem 0 0;
	vertical-align: top;
	display: inline-block;
	height: 30rem;
	width: 40%;
	border: 1px dashed #E0E0E0;
	
}

.ui-scrollbar.test5 {
	margin: 1rem 1rem 0 0;
	display: inline-block;
	vertical-align: top;
	height: 40rem;
	width: 20rem;
	border: 1px dashed #E0E0E0;
	
}

.ui-scrollbar.test6 {
	margin: 1rem 1rem 0 0;
	vertical-align: top;
	display: inline-block;
	height: 40rem;
	width: 30rem;
	border: 1px dashed #E0E0E0;
	
}

.ui-scrollbar.test7 {
	display: inline-block;
	height: 30rem;
	width: 12rem;
	border: 1px dashed #E0E0E0;
	
}

/* .tip-test0 {
	width: 25rem;
}

.tip-test3 {
	width: 40rem;
}

.tip-test1 {
	max-width: 50rem;
} */

.coln8,
.coln4,
.coln12 {
	display: none
}

html.col-8 .coln8,
html.col-4 .coln4,
html.col-12 .coln12 {
	display: inline-block
}

.page-layout .fx-wrap,
.page-layout .fl-wrap,
.page-layout .in-wrap {
	border: 1px solid #E0E0E0;
	
	background: #EEEEEE;
	
}

.page-layout .in-item,
.page-layout [class*="fx-item"],
.page-layout .fl-item-r,
.page-layout .fl-item-l {
	border: 1px dashed #E0E0E0;
	
	padding: 1rem;
	background: #fff;
	
}

.test-flex1 [class*="fx-item"]:nth-child(1) {
	min-height: 9rem;
	padding-top: 1.5rem
}

.test-flex1 [class*="fx-item"]:nth-child(2) {
	min-height: 6rem;
}

.test-flex1 [class*="fx-item"]:nth-child(3) {
	min-height: 30px;
}


.box-base .in-item:first-child,
.box-base .in-item+.in-item {
	margin-right: 10px
}

.wrap-inp input {
	margin-top: 10px;
}

.wrap-inp input:first-child {
	margin-top: 0;
}

.test-scroll-left {
	width: 500px;
	overflow-x: scroll;
}

.test-scroll-left .wrap-group {
	display: flex;
}

.test-scroll-left .wrap-group button {
	flex: 0;
	min-width: 150px;
}

.test-scroll-left .wrap-group button:focus {
	background: #000;
	color: #fff;
}

/* base list */
.list-define dt {
	margin: 10px 0 5px;
	font-weight: 500;
}

.list-define dd {
	padding: 0;
	margin: 0;
}

.parallax-cont {
	position: relative;
	width: 100%;
	top: 50px;
	opacity: 0;
	transition: top 0.3s ease-in, opacity 0.5s ease-in;
}

.ui-parallax-wrap.parallax-s .parallax-cont {
	top: 0;
	opacity: 1;
}

.ui-parallax-wrap.parallax-e .parallax-cont {
	outline: 10px solid lightgray;
}

.box-guide{
	width:100%;
	position: relative;
	padding:2rem;
	border-radius:0.4rem;
	margin:1rem 0;
	
	box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.1);
	background:$white;
	
	border:1px solid $gray100;
	
}

.test-scrollmove-hor{
	overflow-x: auto;
}
.test-scrollmove-hor > div {
	display: flex;
	justify-content: space-between;
}
.test-scrollmove-hor > div > div:focus{
	background:black;
	color:#fff;
}
.test-scrollmove-hor .test{
	flex:0 auto;
	min-width:10rem;
	
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:4rem;
	line-height: 1;
	opacity:0.1;
	transition: opacity .8s;

	border: 1px dashed #E0E0E0;
	
	background:#fff;
	
}
.test-scrollmove-hor .test.tada{
	opacity: 1;
}

.test-scrollmove-hor .wrap-group {
	flex-wrap: wrap;
}
.test-scrollmove-ver{
	width:100%;
	height:30rem;
	overflow-y: auto;
}
.test-scrollmove-ver .test {
	width:100%;
	height:20rem;
	border:1px dashed #ccc;
	background:#fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:10rem;
	line-height: 1;
}
.test-scrollmove-ver .test+.test{
	margin-top:1rem;
}

.fab-grid {
	position: fixed;
	right: 2rem;
	top: 2rem;
}
.fab-menu {
	position: fixed;
	top: 2rem;
	margin-left:2rem
}
.fab-mode {
	position: fixed;
	top: 6rem;
	right:2rem
}


.base-body {
	width: 100%;
	position: relative;
	animation-name: menuOut2;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.nav-open .base-body {
	animation-name: menuIn2;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.header-wrap .logo {
	animation-name: menuOut;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.nav-open .header-wrap .logo {
	animation-name: menuIn;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	margin-left:2rem;

}

.header-nav {
	animation-name: navLeftOut;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.nav-open .header-nav {
	display: block;
	animation-name: navLeftIn;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.fab-menu {
	animation-name: menuOut;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.nav-open .fab-menu {
	animation-name: menuIn;
	animation-duration: .2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.nav-open .fab-menu::before {
	content: "arrow_back";
	
}

pre[data-ke-type] {
    position: relative;
    overflow: auto;
}
 
pre[data-ke-type] code {
    overflow: auto;
    border-radius: 6px;
    letter-spacing: 0;
    display: block;
    line-height: 1.3;
}
 
pre[data-ke-type] button {
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 1em;
}

@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
pre {
    font-family: 'D2Coding', 'Consolas', sans-serif;
    line-height: 1.3;
}

/* @media all and (min-width:905px) {
	.h-1{
		font-size:6rem;
	}
} */

.color-box {
	padding:2rem 0.1rem;
	margin-left:-1px;
	text-align: center;

	border:1px solid #E0E0E0;
	
	font-size:1.2rem;
	
}


.ui-tablescroll-clone.aa{width: 100%;}
.type-issue .srch-area{
	display: flex;
	width: 100%;
}
.type-issue .btn-outlined{
	margin-left:.4rem;
}
.type-issue > div + div{
	margin-top:3.2rem
}
.srch-hidden{display:none;}


/* table col */
.type-zindex col.col-level {width: 7rem;}
.type-zindex col.col-name {width: 22rem;}
.type-zindex col.col-default {width: 10rem;}
.type-zindex col.col-desc {width: auto;}
.type-discription .col-th {width: 25%;}

@media all and (max-width:599px) {
	.base-main {
		padding: 0 2rem;
	}
}

.test-marginbox{
	width:100%; 
	text-align:center; 
	padding:$gap; 
	position: relative;
	border:1px dashed $gray500;
}
.test-marginbox .item{
	width:100%;
	padding:$gap; 
	text-align:center; 
	border:1px solid $gray700;
}
.test-paddingbox{
	width:100%; 
	text-align:center; 
	padding:$gap; 
	position: relative;
	border:1px dashed $gray400;
}
.item{
	width:100%;
	padding:$gap; 
	text-align:center; 
	
}

.test-white{background-color: $white;}
.test-gray00{background-color: $gray50;}
.test-gray01{background-color: $gray100;}
.test-gray02{background-color: $gray200;}
.test-gray03{background-color: $gray300;}
.test-gray04{background-color: $gray400;}
.test-gray05{background-color: $gray500;}
.test-gray06{background-color: $gray600;}
.test-gray07{background-color: $gray700;}
.test-gray08{background-color: $gray800;}
.test-gray09{background-color: $gray900;}
.test-black{background-color: $black;}

.material-list li{position: relative; margin:10px}
.icon-material{display: block; position: relative; width:5rem; height:5rem; line-height: 1; font-size: 5rem;}

.type-noline .col-th {
	width:12rem;
}
.type-noline .col-auto {
	width:auto;
}
.type-noline th {
	font-size: 1.2rem !important;
	padding:.5rem 0 1.5rem;
}
.type-noline td{
	padding:1rem;
}

.type-noline td > * {
	margin-bottom:.5rem;
}

.box-guide .wrap-group + .wrap-group {
	margin-top:2.4rem;
}
.test-bottom{
	margin:2.4rem 0;
}
.test-bottom {
    position: relative;
    height: 15rem;
    background: #F5F5F5;
    
}
.test-bottom .wrap-group.sticky-top,
.test-bottom .wrap-group.sticky-bottom {
    position: absolute;
}

/* 4 columns: 0-599 ----------------------------------------------------------------------------------- */
@media all and (max-width:599px) {
	.base-main {
        margin: 0 auto;
		padding: 0 2rem;
    }

	.base-grid {
        max-width: 100%;
		width:100%;
        padding: 0 2rem;
    }

    .base-grid div:nth-child(4)~div {
        display: none;
    }

    .base-grid div+div {
        margin-left: .8rem;
    }

    .box-guide .fx-item>b:nth-child(1) {
        color: #4dcbe3;
    }
}

/* 8 columns: 600-839 ----------------------------------------------------------------------------------- */
@media all and (min-width:600px) and (max-width:839px) {
    .base-main {
        margin: 0 auto;
        padding: 0 2rem;
    }

    .base-grid {
        max-width: 108rem;
        padding: 0 2rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .base-grid div:nth-child(8)~div {
        display: none;
    }

    .base-grid div+div {
        margin-left: 1.6rem;
    }

    .box-guide .fx-item>b:nth-child(2) {
        color: #4dcbe3;
    }
}

/* 12 columns ----------------------------------------------------------------------------------- */
@media all and (min-width:840px) {
    .base-main {
        margin: 0 auto;
        padding: 0 $x4;
    }

    .base-grid {
        max-width: 108rem;
        padding: 0  $x4;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .box-guide .fx-item>b:nth-child(3) {
        color: orangered;
    }

    .base-grid div+div {
        margin-left: calc((100% - 88rem) / 12);
    }

   

    
    /* .header-nav{
		width:32rem !important;
	}
	.base-body{
		left:0 !important;
	}

	.nav-open .header-wrap .logo{
		margin-left:0 !important;
	}
	@keyframes menuIn {
		0% {left:0;}
		100% {left:32rem !important}
	}
	@keyframes menuOut {
		0% {left:32rem !important}
		100% {left:0;}
	} */
}