@charset "utf-8";

/* 하이플래너 GNB */
.win .header_gnb .gnb.hp {text-align:center;}
.win .header_gnb .gnb.hp>ul {text-align:center; display:inline-table;}
.win .header_gnb .gnb.hp>ul>li {position:relative; float:none; display:table-cell; padding:0 65px;}
.win .header_gnb .gnb.hp>ul>li > a {padding:26px 8px;}
.gnb.hp .sub_menu {top:76px; right:0;}
.gnb.hp .sub_menu_depth {padding:0 0 20px 0}
.gnb.hp .open .sub_menu {height:auto; padding-top:40px;}
.gnb.hp ul.sub_menu_list a {display:inline-block; font-size:19px; color:#000;}
.gnb.hp ul.sub_menu_list a:hover {color:#ea7404}
.gnb.hp ul.sub_menu_list li:not(:first-child) {margin-top:20px;}

.hi_main_governing{position:relative;}
.win .hi_main_governing:after{content:'';display:inline-block;width:613px;height:622px;background:url(../../assets/images/img_hi_main.png) no-repeat;position:absolute;top:-40px;right:17px;z-index:-1;}
.win .hi_main_governing .title{font-size:42px;line-height:64px;}
.win .hi_main_governing .title strong{font-weight:700;}
.win .hi_main_governing .info{font-size:20px;line-height:32px; font-weight:300; margin-top:15px;}
.win .hi_main_cont{margin-top:400px;}
.win .hi_link_wrap{display:flex;flex-wrap:wrap;}
.win .hi_link_wrap .link_item{position:relative;display:block; font-size:16px; line-height: 28px; width:369px;height:262px;border-radius:20px;border:1px solid #ccc;margin:0 32px 32px 0;padding:45px 80px 50px 40px;color:#777;background:#fff;}
.win .hi_link_wrap .link_item:before{content:'';display:inline-block;width:137px;height:137px;background:#f18d00;border-radius:26px;position:absolute;top:-6px;left:-6px;z-index:-1;}
.win .hi_link_wrap .link_item:after{content:'';display:inline-block;width:28px;height:28px;background:url(../../assets/images/web/ico_list_arrow.png)no-repeat;position:absolute;right:20px;top:50%;transform:translateY(-50%);background-size:100%;}
.win .hi_link_wrap .link_item .link_tit{position:relative;font-size:25px;color:#000; margin-bottom:8px;}
.win .hi_link_wrap .link_item .link_tit:after{content:'';display:inline-block;width:60px;height:60px;background:url(../../assets/images/sp_ico_hi.png)no-repeat;position:absolute;top:105px;left:192px;}
.win .hi_link_wrap .link_item.hi1 .link_tit:after{background-position:0 0;}
.win .hi_link_wrap .link_item.hi2 .link_tit:after{background-position:-60px 0;}
.win .hi_link_wrap .link_item.hi3 .link_tit:after{background-position:-120px 0;}
.win .hi_link_wrap .link_item.hi4 .link_tit:after{background-position:0 -60px;}
.win .hi_link_wrap .link_item.hi5 .link_tit:after{background-position:-60px -60px;}
.win .hi_link_wrap .link_item.hi6 .link_tit:after{background-position:-120px -60px;}
.win .hi_link_wrap .link_item:nth-child(3n){margin-right:0;}

.mobile .hi_main_governing {margin:0 -20px; padding:0 20px; overflow: hidden;}
.mobile .hi_main_governing:after{content:'';display:inline-block;width:330px;height:300px;margin:14px auto 45px;background:url(../../assets/images/mobile/img_hi_main.png) no-repeat;background-size:100%;}
.mobile .hi_main_governing .title{font-size:21px;line-height:35px;}
.mobile .hi_main_governing .title strong{font-size:25px;letter-spacing: -1px; line-height: 35px;;}
.mobile .hi_main_governing .info{margin-top:20px; line-height: 22px;;}
.mobile .hi_link_wrap .link_item{position:relative;display:block;width:100%;height:194px; line-height:22px; border-radius:20px;border:1px solid #ccc;padding:30px 50px 30px 30px;background:#fff;margin-bottom:20px;font-size:14px;color:#777;}
.mobile .hi_link_wrap .link_item:before{content:'';display:inline-block;width:115px;height:115px;background:#f18d00;border-radius:23px;position:absolute;top:-5px;left:-5px;z-index:-1;}
.mobile .hi_link_wrap .link_item:after{content:'';display:inline-block;width:24px;height:24px;background:url(../../assets/images/web/ico_list_arrow.png)no-repeat;position:absolute;right:15px;top:50%;transform:translateY(-50%);background-size:100%;}
.mobile .hi_link_wrap .link_item .link_tit{position:relative;font-size:21px;color:#000;margin-bottom:9px;}
.mobile .hi_link_wrap .link_item .link_tit:after{content:'';display:inline-block;width:50px;height:50px;position:absolute;top:76px;right:3px;background:url(../../assets/images/mobile/sp_ico_hi.png)no-repeat;background-size:150px 100px;}
.mobile .hi_link_wrap .link_item.hi1 .link_tit:after{background-position:0 0;}
.mobile .hi_link_wrap .link_item.hi2 .link_tit:after{background-position:-50px 0;}
.mobile .hi_link_wrap .link_item.hi3 .link_tit:after{background-position:-100px 0;}
.mobile .hi_link_wrap .link_item.hi4 .link_tit:after{background-position:0 -50px;}
.mobile .hi_link_wrap .link_item.hi5 .link_tit:after{background-position:-50px -50px;}
.mobile .hi_link_wrap .link_item.hi6 .link_tit:after{background-position:-100px -50px;}
/* // */
.governing.hi_img{position:relative;}
.governing.hi_img .hi_ga:after{content:'';display:block;width:456px;height:356px;background:url(../../assets/images/img_hi_ga.png)no-repeat;margin:100px auto 45px;}
.governing.hi_img .hi_pl:after{content:'';display:block;width:456px;height:356px;background:url(../../assets/images/img_hi_pl.png)no-repeat;margin:30px auto 0;}
.governing.hi_img .hi_qu:after{content:'';display:block;width:456px;height:376px;background:url(../../assets/images/img_hi_qu.png)no-repeat;margin:70px auto 0;}
.governing.hi_img .hi_cu:after{content:'';display:block;width:456px;height:376px;background:url(../../assets/images/img_hi_cu.png)no-repeat;margin:70px auto 0;}
.governing.hi_img .hi_ac:after{content:'';display:block;width:456px;height:376px;background:url(../../assets/images/img_hi_ac.png)no-repeat;margin:70px auto 0;}
.governing.hi_img .hi_cr:after{content:'';display:block;width:456px;height:376px;background:url(../../assets/images/img_hi_cr.png)no-repeat;margin:70px auto 0;}
.governing.hi_img .hi_co:after{content:'';display:block;width:466px;height:376px;background:url(../../assets/images/img_hi_co.png)no-repeat;margin:70px auto 0;}
.governing.hi_img .hi_co{font-size:24px;line-height:38px;}
.governing.hi_img .hi_su:after{content:'';display:block;width:456px;height:356px;background:url(../../assets/images/img_hi_su.png)no-repeat;margin:70px auto 0;}

.mobile .governing.hi_img .governing_title{font-size:21px;}
.mobile .governing.hi_img .hi_ga:after{content:'';display:block;width:100%;height:250px;background:url(../../assets/images/img_hi_ga.png)center center no-repeat;margin:0 auto;background-size:contain;}
.mobile .governing.hi_img .hi_pl:after{content:'';display:block;width:100%;height:260px;background:url(../../assets/images/img_hi_pl.png)center center no-repeat;margin:15px auto 0;background-size:contain;}
.mobile .governing.hi_img .hi_qu:after{content:'';display:block;width:100%;height:270px;background:url(../../assets/images/img_hi_qu.png)center center no-repeat;margin:15px auto 0;background-size:contain;}
.mobile .governing.hi_img .hi_cu:after{content:'';display:block;width:100%;height:270px;background:url(../../assets/images/img_hi_cu.png)center center no-repeat;margin:15px auto 0;background-size:contain;}
.mobile .governing.hi_img .hi_ac:after{content:'';display:block;width:100%;height:270px;background:url(../../assets/images/img_hi_ac.png)center center no-repeat;margin:15px auto 0;background-size:contain;}
.mobile .governing.hi_img .hi_cr:after{content:'';display:block;width:100%;height:270px;background:url(../../assets/images/img_hi_cr.png)center center no-repeat;margin:15px auto 0;background-size:contain;}
.mobile .governing.hi_img .hi_co:after{content:'';display:block;width:100%;height:270px;background:url(../../assets/images/img_hi_co.png)center center no-repeat;margin:15px auto 0;background-size:contain;}
.mobile .governing.hi_img .hi_co{font-size:17px;line-height:31px;}
.mobile .governing.hi_img .hi_su:after{content:'';display:block;width:100%;height:270px;background:url(../../assets/images/img_hi_su.png)no-repeat;margin:15px auto 0;background-size:100%;}

.hi_ga_tit{font-size:18px; font-weight:500; margin-top:36px;}
.mobile .hi_ga_tit{font-size:14px; font-weight:700; margin-top:20px;}


.hi_list_item .tel_number{display:inline-block;padding-left:10px;}
.win .hi_list_item .tel_number:before{content:'';display:inline-block;width:16px;height:16px;background:url(../../assets/images/web/ico_hi_tel.png)no-repeat;background-size:100%;vertical-align:inherit;margin-right:5px;}
.mobile .hi_list_item .tel_number:before{content:'';display:inline-block;width:12px;height:12px;background:url(../../assets/images/ico_hi_tel.png)no-repeat;background-size:100%;margin-right:6px;}

.hi_sub{font-size:16px;margin-top:-6px;}
.mobile .hi_sub{font-size:13px;margin-top:-8px; line-height: 20px;}
.win .hi_info{font-size:16px;color:#555;margin-top:19px;}
.mobile .hi_info{font-size:13px;margin-top:20px;}

.hi_in_btns{margin-top:30px;}
.mobile .hi_in_btns{margin-top:20px;}

.hi_form_label{position:relative;display:block;}
/* // */
.win .color_box_list:after{content:'';display:block;clear:both;}
.win .color_box_list .item{position:relative;min-height:108px; font-size:16px; padding:40px 30px 30px 140px;border-radius:20px;}
.win .color_box_list .item:after{content:'';display:inline-block;width:58px;height:58px;background:url(../../assets/images/sp_ico_hi_p.png)no-repeat;position:absolute;left:41px;top:50%;margin-top:-29px;;}
.win .color_box_list .item:not(:first-child) {margin-top:20px}
.win .color_box_list .item.p1:after{background-position:0 0;}
.win .color_box_list .item.p2:after{background-position:-60px 0;}
.win .color_box_list .item.p3:after{background-position:-120px 0;}
.win .color_box_list .item.p4:after{background-position:-180px 0;}
.win .color_box_list .item.p5:after{background-position:-240px 0;}
.color_box_list .item.p1 {background:#fff4de;}
.color_box_list .item.p2 {background:#ffefe8;}
.color_box_list .item.p3 {background:#e0f2ff;}
.color_box_list .item.p4 {background:#fff4de;}
.color_box_list .item.p5 {background:#ffefe8;}

.win .color_box_list .item:nth-child(2n){margin-right:0;}
.color_box_list .item.skyblue{background:#e0f2ff;}
.color_box_list .item.yellow{background:#fff4de;}
.color_box_list .item.red{background:#ffefe8;}

.mobile .color_box_list .item{position:relative;display:flex; align-items: center; font-size:14px; line-height:22px; min-height:95px;border-radius:10px;padding:30px 30px 30px 105px;}
.mobile .color_box_list .item:not(:first-child) {margin-top:10px}
.mobile .color_box_list .item:after{content:'';display:block;width:60px;height:60px;background:url(../../assets/images/mobile/sp_ico_hi_p.png)no-repeat;background-size:300px 60px;position:absolute;left:26px;top:50%;transform:translateY(-50%);}
.mobile .color_box_list .item.p1:after{background-position:0 0;}
.mobile .color_box_list .item.p2:after{background-position:-60px 0;}
.mobile .color_box_list .item.p3:after{background-position:-120px 0;}
.mobile .color_box_list .item.p4:after{background-position:-180px 0;}
.mobile .color_box_list .item.p5:after{background-position:-240px 0;}
/* // */
.ico_box_wrap:after{content:'';display:block;clear:both;}

.win .ico_box_wrap .item{position:relative;float:left;width:calc(33.33% - 14px);height:195px;border:1px solid #ccc;border-radius:20px;padding:30px 70px 30px 30px;margin:20px 20px 0 0;font-size:16px;color:#777;}
.win .ico_box_wrap .item:nth-child(3n){margin-right:0;}
.win .ico_box_wrap .item .tit{font-size:20px; font-weight:500;color:#000;margin-bottom:14px;}
.win .ico_box_wrap .item:after{content:'';display:inline-block;width:40px;height:40px;background:url(../../assets/images/sp_ico_hi_pl.png)no-repeat;position:absolute;right:30px;bottom:30px;}
.win .ico_box_wrap .item.pl1:after{background-position:0 0;}
.win .ico_box_wrap .item.pl2:after{background-position:-40px 0;}
.win .ico_box_wrap .item.pl3:after{background-position:-80px 0;}
.win .ico_box_wrap .item.pl4:after{background-position:-120px 0;}
.win .ico_box_wrap .item.pl5:after{background-position:-160px 0;}

.mobile .ico_box_wrap {display:flex; flex-wrap: wrap; justify-content: space-between;}
.mobile .ico_box_wrap .item{position:relative;width:calc(50% - 8px);min-height:161px;border:1px solid #ccc;border-radius:10px;padding:17px 20px;margin:15px 15px 0 0;font-size:13px;color:#777;}
.mobile .ico_box_wrap .item:nth-child(2n){margin-right:0;}
.mobile .ico_box_wrap .item .tit{font-size:17px; font-weight:500;color:#000;}
.mobile .ico_box_wrap .item .cont{margin-bottom:37px;}
.mobile .ico_box_wrap .item:after{content:'';display:inline-block;width:35px;height:37px;background:url(../../assets/images/mobile/sp_ico_hi_pl.png)no-repeat;background-size:175px 37px;position:absolute;right:15px;bottom:15px;}
.mobile .ico_box_wrap .item.pl1:after{background-position:0 0;}
.mobile .ico_box_wrap .item.pl2:after{background-position:-35px 0;}
.mobile .ico_box_wrap .item.pl3:after{background-position:-70px 0;}
.mobile .ico_box_wrap .item.pl4:after{background-position:-105px 0;}
.mobile .ico_box_wrap .item.pl5:after{background-position:-140px 0;}

/* // */
.win .hi_banner{position:relative;height:246px;border-radius:20px;background:#fcefe2;padding:50px 50px 40px;margin-top:80px;z-index:0;}
.win .hi_banner:after{content:'';display:inline-block;width:231px;height:269px;background:url(../../assets/images/bg_hi_banner.png)no-repeat;background-size:contain;position:absolute;right:80px;bottom:0;z-index:-1;}
.win .hi_banner .ico_tit{position:relative;font-size:18px;font-weight:700;margin-bottom:9px;}
.win .hi_banner .ico_tit:after{content:'';display:inline-block;width:19px;height:17px;background:url(../../assets/images/web/ico_h_heart.png)no-repeat;background-size:100%;margin-left:10px;}
.win .hi_banner .btn.primary{display:block;height:50px;line-height:50px;font-size:18px;margin:30px auto 0;}

.mobile .hi_banner{position:relative;border-top-left-radius:30px;border-top-right-radius:30px;background:#fcefe2;margin:40px -20px -65px;padding:35px 20px;font-size:13px;z-index:0;}
.mobile .hi_banner:after{content:'';display:inline-block;width:50%;height:294px;background:url(../../assets/images/bg_hi_banner.png)right bottom no-repeat;background-size:contain;position:absolute;right:10px;bottom:35px;z-index:-1;}
.mobile .hi_banner .ico_tit{position:relative;width:50%;font-size:15px;font-weight:700;margin-bottom:12px;padding:0 13px 0 20px;}
.mobile .hi_banner .sub{width:50%;padding:0 13px 0 20px;}
.mobile .hi_banner .ico_tit:after{content:'';display:inline-block;width:16px;height:14.5px;background:url(../../assets/images/web/ico_h_heart.png)no-repeat;background-size:100%;margin-left:5px;}
.mobile .hi_banner .btn.primary{display:block;height:50px;line-height:50px;font-size:15px;margin:25px auto 0;}
/* // */
.win .hi_dline-box{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:40px 0;margin-top:25px;}
.win .hi_dline-box .use_step_proc{width:510px;}
.win .hi_dline-box .use_step_proc li{border-radius:15px;padding:14px 35px;}
.win .hi_dline-box .use_step_proc li .sub{font-size:16px;color:#777;}
.win .flag_box{position:relative;border:1px solid #ddd;border-radius:20px;padding:40px 30px;font-size:16px;color:#333;}
.win .flag_box .tit{position:relative;font-size:20px;color:#000;font-weight:700;}
.win .flag_box .tit:before{content:'';display:block;width:48px;height:48px;position:absolute;top:0;right:10px;}
.flag_box .tit.ico01:before {background:url(../../assets/images/ico_hi_flag.png)no-repeat;background-size:contain;}
.flag_box .tit.ico02:before {background:url(../../assets/images/ico_hi_flag2.png)no-repeat;background-size:contain;}
.win .flag_box .tit:after{content:'';display:block;width:20px;height:2px;background:#ea7404;margin:20px 0;}

.mobile .hi_dline-box {background:#f4f4f4; border-radius:8px; padding:25px 15px;}


.mobile .hi_dline-box .use_step_proc li{height:auto;border-radius:10px;padding:20px;}
.mobile .hi_dline-box .use_step_proc li strong{font-size:15px;font-weight:500;}
.mobile .hi_dline-box .use_step_proc li .sub{font-size:13px;color:#777;}
.mobile .flag_box{position:relative;border:1px solid #ddd;border-radius:10px;padding:25px 20px;font-size:13px;}
.mobile .flag_box .tit:before{content:'';display:inline-block;width:40px;height:40px;background-size:100%;position:absolute;top:0;right:5px;}
.mobile .flag_box .tit{position:relative;font-size:17px;color:#333;font-weight:700;}
.mobile .flag_box .tit:after{content:'';display:block;width:17px;height:2px;background:#ea7404;margin:15px 0;}
/* // */
.win .hi_dline-box.half .use_step_proc > li{display:flex;align-items:center;}
.win .hi_dline-box.half .use_step_proc li .half_item{width:50%;}
.win .hi_dline-box.half .use_step_proc li strong{width:50%;text-align:left;margin-right:10px;font-weight:500;}
.win .hi_dline-box.half .use_step_proc li .half_item ul li{text-align:left;border:0;padding:0 0 0 12px;color:#777;margin-top:0;}
.win .hi_dline-box.half .use_step_proc li .half_item ul li .imp_txt{font-size:16px;margin-top:0;color:#777;}

.mobile .hi_dline-box.half{margin-top:15px;}
.mobile .hi_dline-box.half .use_step_proc > li{display:flex;align-items:center;}
.mobile .hi_dline-box.half .use_step_proc li .half_item{width:50%;}
.mobile .hi_dline-box.half .use_step_proc li strong{width:50%;text-align:left;}
.mobile .hi_dline-box.half .use_step_proc li .half_item ul li{border:0;padding:0 0 0 12px;color:#777;margin-top:0;}
/* .mobile .hi_dline-box.half .use_step_proc li .half_item ul li:before{top:10px;left:0;width:3px;height:3px;border-radius:50%;background:#333;} */
.mobile .hi_dline-box.half .use_step_proc li .half_item ul li .imp_txt{color:#777;margin-top:0;}
/* // */
.win .rd_box.hi_rd_box {margin-top:20px;}
.win .rd_box.hi_rd_box .sub_conts dl dt{width:90px;}
.win .rd_box.hi_rd_box .sub_conts dl dd{width:calc(100% - 90px);}
.win .rd_box.hi_rd_box .sub_conts .subject .tag{font-size:17px;height:30px;line-height:28px;margin-top:15px;color:#008cd3;border-color:#008cd3;}
.win .rd_box.hi_rd_box .sub_conts .subject .tag + .tag{margin-left:10px;}

.mobile .rd_box.hi_rd_box {margin-top:20px;}
.mobile .rd_box.hi_rd_box .sub_conts .subject{text-align:center; padding:0;}
.mobile .rd_box.hi_rd_box .sub_conts dl dt{width:64px;}
.mobile .rd_box.hi_rd_box .sub_conts dl dt:first-child {padding-top:0;}
.mobile .rd_box.hi_rd_box .sub_conts dl dd{width:calc(100% - 64px);}
.mobile .rd_box.hi_rd_box .sub_conts .subject .tag{font-size:13px;height:25px;line-height:23px;color:#008cd3;border-color:#008cd3;margin:10px 0 4px 0;}
.mobile .rd_box.hi_rd_box .sub_conts .subject .tag + .tag{margin-left:9px;}
/* // */
.win .support_list .item{position:relative;border:1px solid #ccc;border-radius:20px;padding:40px 40px 40px 290px;margin-bottom:20px;}
.win .support_list .item:before{content:'';display:inline-block;width:100px;height:100px;border-radius:50%;background:#f4f4f4 url(../../assets/images/sp_ico_hi_s.png)no-repeat;position:absolute;left:100px;top:50%;transform:translateY(-50%);}
.win .support_list .item.s1:before{background-position:0 0;}
.win .support_list .item.s2:before{background-position:-100px 0;}
.win .support_list .item.s3:before{background-position:-200px 0;}
.win .support_list .item .tit{font-size:18px;font-weight:700;}
.win .support_list .item .list_dot{color:#000;}

.mobile .support_list .item{position:relative;padding:30px 25px;border:1px solid #ccc;border-radius:10px;margin-bottom:15px;}
.mobile .support_list .item:before{content:'';display:block;width:80px;height:80px;border-radius:50%;margin:0 auto 25px;background:#f4f4f4 url(../../assets/images/mobile/sp_ico_hi_s.png)no-repeat;background-size:240px 80px;}
.mobile .support_list .item.s1:before{background-position:0 0;}
.mobile .support_list .item.s2:before{background-position:-80px 0;}
.mobile .support_list .item.s3:before{background-position:-160px 0;}
.mobile .support_list .item .tit{font-size:17px;font-weight:500;}
/* // */
.mobile .use_step_proc.no_bg{background:#fff;}
.win .hi_info+.manager{margin-top:20px;}
.mobile .hi_info+.manager{margin-top:10px;}

.win .manager.col2 .contact_info{width:calc(50% - 10px);}
.win .support_wrap{margin-top:40px;display:flex;justify-content:space-between;}
.win .support_wrap .item{width:calc(50% - 10px);border:1px solid #ccc;border-radius:20px;padding:40px 50px 35px;text-align:center;}
.win .support_wrap .item .tit{font-size:18px;font-weight:700;margin-bottom:55px;}
.win .support_wrap .tag_wrap{position:relative;}
.win .support_wrap .tag_wrap:after {display: block; content:''; clear: both;}
.win .support_wrap .tag_wrap:after{content:'';display:inline-block;width:96px;height:96px;border:2px solid #f18d00;border-radius:50%;position:absolute;z-index:-1;left:50%;transform:translateX(-50%);top:10px;}
.win .support_wrap .tag_wrap .tag{float:left; position:relative;display:block;font-size:18px;width:132px;height:48px;line-height:46px;text-align:center;margin:0 0 25px 0;border:1px solid #ccc;background:#fff;box-shadow:5px 16px 14px rgba(0,0,0,0.07);}
.win .support_wrap .tag_wrap .tag:after{content:'';display:inline-block;width:10px;height:10px;border-radius:50%;background:#f18d00;position:absolute;right:12px;top:50%;transform:translateY(-50%);}
.win .support_wrap .tag_wrap .tag:nth-child(2n) {float:right;padding: 0px 10px 0px 30px;text-align:left;}
.win .support_wrap .tag_wrap .tag:nth-child(2n):after{right:auto;left:12px;}
.win .hi_list_item span{font-weight:500;}



.mobile .support_wrap{margin-top:30px;}
.mobile .support_wrap .item{position:relative;z-index:0;border-radius:10px;background:#f6f6f6;padding:30px 20px 15px;text-align:center;margin-top:15px;}
.mobile .support_wrap .item .tit{font-size:15px;font-weight:700;color:#333;margin-bottom:40px;}
.mobile .support_wrap .tag_wrap{position:relative; width:240px; margin:0 auto; display:flex;flex-wrap:wrap;justify-content:space-between;}
.mobile .support_wrap .tag_wrap:after{content:'';display:inline-block;width:80px;height:80px;border:2px solid #f18d00;border-radius:50%;position:absolute;z-index:-1;left:50%;transform:translateX(-50%);top:10px;}
.mobile .support_wrap .tag_wrap .tag{position:relative;display:inline-block;font-size:15px;width:112px;height:40px;line-height:40px;text-align:center;margin:0 0 20px 0;border:0;background:#fff;box-shadow:5px 16px 14px rgba(0,0,0,0.07);border-radius:20px;}
.mobile .support_wrap .tag_wrap .tag:after{content:'';display:inline-block;width:8px;height:8px;border-radius:50%;background:#f18d00;position:absolute;right:10px;top:50%;transform:translateY(-50%);}
.mobile .support_wrap .tag_wrap .tag:nth-child(2n){text-align:left;padding-left:28px;}
.mobile .support_wrap .tag_wrap .tag:nth-child(2n):after{right:auto;left:10px;}
.mobile .hi_list_item span{font-weight:500;}





.support_wrap .tag_wrap.color .tag:nth-child(2n){text-align:center;padding:0;}
.support_wrap .tag_wrap.color:after{border-color:#333;}
.support_wrap .tag_wrap.color .tag{color:#fff; border:0;}
.support_wrap .tag_wrap.color .tag:after{background:#333;}
.support_wrap .tag_wrap.color .tag.blue{background:#6078ee;}
.support_wrap .tag_wrap.color .tag.red{background:#f65d3c;}
.support_wrap .tag_wrap.color .tag.yellow{background:#ecbe0a;}
.support_wrap .tag_wrap.color .tag.green{background:#2fb5b5;}
/* // */
.win .consulting_wrap{position:relative;border-top:1px solid #777;border-bottom:#ccc;}
.win .consulting_wrap .btn{position:absolute;right:40px;top:40px;min-width:auto;height:40px;line-height:38px;font-size:14px;}
.win .consulting_wrap .top{display:flex;padding:40px 40px 34px;}
.win .consulting_wrap .top img{width:134px;height:100px;border-radius:15px;background-color:#f3f4f6;margin-right:30px;}
.win .consulting_wrap .top .name{font-size:18px;font-weight:500;margin-bottom:15px;}
.win .consulting_wrap .top dl{display:flex;flex-wrap:wrap;width:100%;}
.win .consulting_wrap .top dl dt{width:88px;margin-bottom:5px;}
.win .consulting_wrap .top dl dd{width:calc(100% - 88px);margin-bottom:5px;}
.win .consulting_wrap .cont{background:#f6f6f6;padding:40px;}
.win .consulting_wrap .cont .box{font-size:16px;color:#333;border-radius:15px;background:#fff;padding:35px 40px;}
.win .consulting_wrap .cont .list_bar{margin-top:38px;}
.win .consulting_wrap .no_cont{padding:60px 0;text-align:center;color:#777;}
.win .consulting_wrap .no_cont p{font-size:18px;font-weight:500;color:#000;margin-bottom:15px;}

.mobile .consulting_wrap{position:relative;border:1px solid #ccc;border-radius:10px;}
.mobile .consulting_wrap .btn{position:absolute;right:20px;top:30px;min-width:auto;height:30px;line-height:28px;padding:0 15px;font-size:12px;border-radius:5px;}
.mobile .consulting_wrap .top{padding:30px 20px 0;}
.mobile .consulting_wrap .top img{width:100px;height:75px;border-radius:10px;background-color:#f3f4f6;margin-right:20px;}
.mobile .consulting_wrap .top .name{display:inline-block;font-size:17px;font-weight:500;color:#777;}
.mobile .consulting_wrap .top .name strong{display:block;font-size:21px;font-weight:700;color:#000;margin:15px 0 7px;}
.mobile .consulting_wrap .top dl{display:flex;flex-wrap:wrap;width:100%;margin-top:20px;}
.mobile .consulting_wrap .top dl dt{width:83px;margin-bottom:10px;}
.mobile .consulting_wrap .top dl dd{width:calc(100% - 83px);margin-bottom:10px;}
.mobile .consulting_wrap .cont{border-top:1px solid #eee;margin-top:20px;padding:20px 20px 30px;}
.mobile .consulting_wrap .cont .box{background:#f6f6f6;border-radius:10px;padding:23px 18px;font-size:13px;color:#333;}
.mobile .consulting_wrap .no_cont{padding:30px 0;text-align:center;color:#333;}
.mobile .consulting_wrap .no_cont p{font-size:21px;line-height:30px;font-weight:500;color:#000;margin-bottom:15px;}

.win .dialog_wrap .consulting_wrap{margin-top:105px;}
.win .consulting_wrap + .consulting_wrap{margin-top:105px;}
.win .consulting_wrap .accordion{margin-top:0;}
.win .consulting_wrap .accordion .panel{padding:0;}
.win .consulting_wrap .accordion .title:first-child a{border-top:1px solid #ccc;}

.mobile .dialog_wrap .consulting_wrap:first-child{margin-top:40px;}
.mobile .dialog_wrap .consulting_wrap{margin-top:15px;}
.mobile .consulting_wrap .accordion{margin-top:20px;border-bottom:0;}
.mobile .consulting_wrap .accordion .panel{background:#fff;padding:0;border-top:0;}
.mobile .consulting_wrap .accordion .cont{border-top:0;margin-top:0;padding-top:0;}
.mobile .consulting_wrap .accordion .title:first-child a{border-color:#ccc;}
.mobile .consulting_wrap .accordion .title{text-align:center;}
.mobile .consulting_wrap .accordion .title a .ico{position:static; overflow:hidden; display:inline-block; vertical-align:middle; margin:0 0 0 10px;}
/* // */
.win .hi_planner_list{display:flex;flex-wrap:wrap;justify-content:space-between;}
.win .hi_planner_list .hi_p_item{position:relative;overflow:hidden;width:calc(50% - 10px);border:1px solid #ccc;border-radius:20px;padding:48px 38px 88px 38px;margin-bottom:20px;color:#333;font-size:16px;}
.win .hi_p_item .name{font-size:24px;font-weight:700;color:#000;}
.win .hi_p_item .office{font-size:20px;font-weight:700;margin:10px 0 20px;color:#000;}
.win .hi_p_item .office strong{font-size:24px;margin-right:6px;}
.hi_p_item .tel_number {margin-top:5px;}
.win .hi_p_item .tel_number:before{content:'';display:inline-block;width:16px;height:16px;background:url(../../assets/images/mobile/ico_hitel.png)no-repeat;background-size:100%;vertical-align:inherit;margin-right:5px;}
.win .hi_planner_list .hi_p_item .btn{position:absolute;left:0;right:0;bottom:0;display:block;width:100%;height:60px;line-height:59px;background:#f4f4f4;border-top:1px solid #ccc;font-size:16px;font-weight:500;}
.hi_p_item .photo {position:absolute; width:134px; height:100px; top:49px; right:39px; border-radius: 20px; overflow:hidden;}
.hi_p_item .photo img {max-width:100%;}

.mobile .hi_planner_list .hi_p_item{position:relative;overflow:hidden;border:1px solid #ccc;border-radius:10px;padding:34px 25px;margin-bottom:8px;}
.mobile .hi_p_item .name{font-size:25px;font-weight:bold;}
.mobile .hi_p_item .office{font-size:21px;font-weight:bold;margin:10px 0 20px;}
.mobile .hi_p_item .tel_number{color:#000;}
.mobile .hi_p_item .tel_number:before{content:'';display:inline-block;width:16px;height:16px;background:url(../../assets/images/mobile/ico_hitel.png)no-repeat;background-size:100%;margin-right:6px;}
.mobile .hi_planner_list .hi_p_item .btn{/*position:absolute;left:0;right:0;bottom:0;*/display:block;width:calc(100% + 50px);height:48px;line-height:47px; margin:30px -25px -34px -25px; background:#f4f4f4;border-top:1px solid #ccc;font-size:15px;font-weight:500;}
.mobile .hi_p_item .photo {width:100px; height:75px; top:34px; right:24px; border-radius: 8px;}


.mobile .dialog_wrap .hi_p_item .office{font-size:17px;font-weight:bold;margin:10px 0 10px;}
.mobile .dialog_wrap .hi_p_item .office strong{font-size:21px;margin-right:6px;}

.win .map_wrap{position:relative;min-height:340px;overflow:hidden;margin:50px -40px -40px;border-top:1px solid #ddd;}
.mobile .map_wrap{min-height:390px;border-top:1px solid #ddd;overflow:hidden;margin:25px -20px 0;}

.boxing_conts {margin-top:50px; background: #f6f6f6;font-size:16px;padding:35px 30px;border-radius:15px;}
.boxing_conts .h3 {margin-top:30px;}

.mobile .boxing_conts {margin-top:15px; background: #f7f7f7;font-size:13px;padding:25px 20px;margin-bottom:26px;border-radius:10px;}
.mobile .boxing_conts .h3 {margin-top:20px;}

.win .hi_box_info { width:620px; margin:0 auto}
/* .win .hi_box_info{padding:50px;border-radius:20px;background:#fcefe2;text-align:center;}
.win .hi_box_info .tit{position:relative;font-size:18px;font-weight:700;margin-bottom:9px;}
.win .hi_box_info .tit:after{content:'';display:inline-block;width:19px;height:17px;background:url(../../assets/images/web/ico_h_heart.png)no-repeat;background-size:100%;margin-left:10px;}

.mobile .hi_box_info{padding:35px;border-radius:20px;background:#fcefe2;text-align:center;}
.mobile .hi_box_info .tit{position:relative;font-size:15px;font-weight:700;margin-bottom:12px;}
.mobile .hi_box_info .tit:after{content:'';display:inline-block;width:16px;height:15px;background:url(../../assets/images/web/ico_h_heart.png)no-repeat;background-size:100%;margin-left:5px;} */
/* // */