@charset "utf-8";

/*cert START*/
*{margin:0;padding:0;}
body{font-size:12px;color:#000;font-family:Dotum, '돋움', Gulim, '굴림', Arial, sans-serif;}
a{cursor:pointer;}
.t_center{text-align:center !important;}
.cert_top{position:relative;border:1px solid #3c434e;background-color:#4c5663;}
.cert_top h1{padding:0 0 0 20px;font-size:14px;color:#fff;line-height:40px;}
.cert_top a.close{display:block;position:absolute;top:0;right:0;width:40px;height:40px;background:url(/Coocon/img/bg_close.gif) no-repeat;background-position:center center;}
.cert_mid{padding:25px 20px 20px 20px;border:1px solid #ddd;border-top:none;background-color:#fff;}
h2.bul1{padding-left:12px;margin-bottom:10px;font-size:12px;background:url(/Coocon/img/bul1.gif) no-repeat 0 3px;}
.ctable table{width:100%;empty-cells:show;border-collapse: collapse;}
.tb_thead{padding-right:17px;border:1px solid #bbb;background-color:#ededf1;}
.tb_thead th{	vertical-align:middle;height:27px;text-align:center;font-weight:normal;border-left:1px solid #bbb;}
.tb_thead tr th:first-child{border-left:none;}
.tb_scroll{margin-bottom:25px;height:165px;overflow-y:scroll;border:1px solid #bbb;border-top:none;}
.tb_scroll td{vertical-align:middle;height:33px;text-align:left;border-left:1px solid #bbb;}
.tb_scroll tr td:first-child{border-left:none;}
.tb_scroll tr td:first-child img{display:inline-block;margin-left:5px;vertical-align:middle;}

.ellipsis{display:inline-block;vertical-align:middle;padding-left:8px;padding-top:2px;max-height:30px;line-height:15px;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;}
.tb_scroll tr td:first-child img+.ellipsis{max-width:80%;}
.tb_scroll tr:hover{cursor:pointer;background-color:#f0f0f0;}
.tb_scroll tr.off:hover{cursor:default;background-color:#fff;}
.tb_scroll tr.on, .tb_scroll tr.on:hover{cursor:default;background-color:#e7e7e7;}

.cbtn_wrap{padding-top:22px;text-align:center;}
.cbtn{display:inline-block;padding:0 10px;min-width:34px;height:27px;line-height:27px;text-align:center;font-weight:bold;border-radius:2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
.cbtn.type1{color:#fff;border:1px solid #2c82bd;background-color:#3598db;}
.cbtn.type2{color:#555;border:1px solid #9f9f9f;background-color:#fff;}
.cipt{}
.cipt input{width:97%;height:21px;line-height:16px;text-indent:8px;font-size:14px;color:#000;border:1px solid #cbcbcb;background-color:#f4f4f4;}
.cipt input:focus{height:19px;text-indent:7px;border:2px solid #98b8ec;border-radius:2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
/* Chrome Field Outline = None */
input:focus{outline:none;}
/* Webkit */
input::-webkit-input-placeholder {font-size:12px;color: #c6c6c6;}
/* Firefox 4-18 */
input:-moz-placeholder {font-size:12px;color: #c6c6c6; }
/* Firefox 19+ */
input::-moz-placeholder {font-size:12px;color: #c6c6c6; }
/* IE10+ */
input:-ms-input-placeholder {font-size:12px;color: #c6c6c6; }
#cert_pop{position:fixed; z-index:9999; width:650px; height:2000px; top:20%; left:28%;}
/* cert END */
