<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<title>현대해상다이렉트</title>
<script type="text/javascript" src="../_ui_include/head.js"></script><!-- //Include: head -->
<script>
	$(function() {
		UI.init();
		$('.btn_samples').find('.btn').click();
	});
</script>
</head>
<body data-channel="mobile" data-login="false" data-category="">
	<!-- wrap -->
	<div id="wrap">
		<!-- navbar -->
		<div id="header" class="navbar">
			<div class="header_wrap">
				<button type="button" class="btn_page_prev" aria-label="이전"></button>
				<h1 class="header_title">로그인</h1>
				<button type="button" class="btn_sidebar_open" aria-label="메뉴 열기"></button>
			</div>
		</div>
		<!-- //navbar -->
		<script type="text/javascript" src="../_ui_include/sidebar.js"></script><!-- Include: sidebar -->
		<div id="container">
			<!-- [Start of content] ================================== -->
			<div id="content">
				<!-- content_wrap -->
				<div class="content_wrap">
					<div class="section">
						<div class="governing">
							<h2 class="governing_title">Modal</h2>
						</div>
						<div class="comp">
							<div class="btn_area cta btn_samples">
								<a href="javascript:void(0);" onclick="javascript:layerPop.open($('#MCOCO2001U'));" class="btn fill01">Open</a>
							</div>
						</div>
					</div>
				</div>
				<!-- //content_wrap -->
			</div>
			<!-- [End of content] ==================================== -->
		</div>

		<!-- [Start of Modal] ====================================== -->
		<!-- Modal Full -->
		<div class="modal full fade" id="MCOCO2001U" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal_dialog" role="document">
				<div class="modal_content">
					<div class="modal_header">
						<div class="wrapper">
							<h2 class="modal_title">본인인증</h2>
						</div>
					</div>
					<div class="modal_body">
						<!-- wrapper: modal_body -->
						<div class="wrapper">
							<div class="section">
								<div class="governing ta_l">
									<h2 class="governing_title">본인인증 방법을 선택해 주세요.</h2>
								</div>
								<div class="comp">
								</div>
							</div>
							<div class="section bottom_fix">
								<div class="comp">
									<div class="accordion notice full">
										<div class="item">
											<div class="fold_header">
												<a href="javascript:void(0);" role="button" title="내용보기">
													<div class="title"><strong>유의사항</strong></div>
													<i class="icon_angle"><span>내용보기/내용닫기</span></i>
												</a>
											</div>
											<div class="fold_body uol_list">
												<ul>
													<li>PIN인증는 등록 후 3년동안 유효하며, 2년간 사용하지 않은 경우 자동 소멸됩니다.</li>
													<li>관련 법률 및 재규정에 따라 반드시 본인인증을 거쳐야 할 필수 절차입니다.</li>
													<li>본인인증에 따른 모든 비용은 현대해상이 부담합니다.</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //wrapper: modal_body -->
					</div>
					<div class="modal_footer fix">
						<div class="btn_area footer">
							<button type="button" class="btn fill02">취소</button>
							<button type="button" class="btn fill01">확인</button>
						</div>
						<div class="btn_area sub">
							<a href="javascript:void(0);" class="btn text">test</a>
						</div>
					</div>
					<button type="button" class="btn_modal_close" aria-label="Close" onclick="layerPop.close('#MCOCO2001U'); return false;"><span>닫기</span></button>
				</div>
			</div>
		</div>
		<!-- //Modal Full -->
		<!-- [End of Modal] ======================================== -->
	</div>
	<!-- //wrap -->
</body>
</html>