@charset "utf-8";

.main-visual .items { height:500px; }
.main-visual .product { padding:55px 30px 0 30px;  }
.main-visual .product .txts { display:block; color:#B9BBC6; font-size:14px; line-height:21px; }
.main-visual .product .title { color:#fff; font-size:32px; line-height:42px; }
.main-visual .product .btns { margin-top:70px; }
.main-visual .product .btns > span { display:block; margin-top:10px; }
.main-visual .product .btns a { display:inline-block; height:48px; padding:16px 24px 0 24px; border-radius:80px; border:1px solid #fff; color:#fff; }

.main-wrap .sch-box { margin:25px auto 0 auto; padding:0 24px; }
.main-wrap .sch-box .sch-top { position:relative; margin:0 auto; padding:0 24px; height:48px; text-align:left; border-radius:100px; border:2px solid #113585; box-shadow:0px 2px 4px rgba(57, 53, 210, 0.2); }
.main-wrap .sch-box .btn-sch { position:absolute; top:50%; right:20px; margin-top:-12px; width:24px; height:24px; background:url(/kiam/pcWeb/resources/images/btn_main_sch.png) no-repeat 0 0; background-size:24px auto; }
.main-wrap .sch-box .inp-txt{ width:100%; padding:0;  height:initial; font-size:16px; font-weight:600; line-height:44px; border:0;  }
.main-wrap .sch-box .inp-txt::placeholder { color:#113585; }
.main-wrap .sch-box .sch-tips { margin:10px -24px 0 -24px; }
.main-wrap .sch-box .sch-tips .scroll-list { padding:0 24px;  }
.main-wrap .sch-box .sch-tips a { display:inline-block; padding:10px; color:#222; font-size:12px; }

.main-conts { margin-top:60px; padding:0 24px 55px 24px;  }
.main-conts { margin-top:0; }
.main-conts h2 { margin:50px 0 16px 0;  font-size:20px; font-weight:700; line-height:30px;  }
.main-conts h2 span { display:inline-block; position:relative; padding-left:10px; }
.main-conts h2 span:after { content:''; display:block; position:absolute; top:0; left:0; width:6px; height:6px; border-radius:50%; background:#ec3690; }
.main-conts h2 a { position:relative; padding-right:15px; }
.main-conts h2 a::after { content:''; display:block; position:absolute; top:7px; right:0; width:10px; height:10px; border-top:2px solid #222; border-right:2px solid #222; transform:rotate(45deg); /* 각도 */  }

.fund-tab .ui-tab { margin:0 -24px; }
.fund-tab .ui-tab .ui-tab-btns { padding:0 16px; }
.fund-tab .ui-tab .ui-tab-btns .ui-tab-btn { margin:0 8px; }
.fund-tab .ui-tab .ui-tab-pnls { padding:18px 24px 0 24px; }

.fund-slider { overflow:hidden; position:relative; margin:0 -24px; padding:5px 24px 0 24px; }
.fund-slider .swiper-slide { width:75%; }
.fund-slider .controlpage { position:static;  text-align:center;  line-height:0; }

