@charset "utf-8";
.localtripMain{ background:url('https://direct.hi.co.kr/images/local_trip/bg_localTrip2210.jpg') no-repeat fixed; -webkit-background-size:cover; background-size:cover;}
.localtripMain.insuJoinBg .productMainWrap .productSideMenu .smList{background-color: #00afc9;}
/* 추천Flag 위치 /2105 */
.localtripJoin .inPlan .rec:after{right:96px;}